<mat-toolbar color="primary">
  <mat-toolbar-row>

    <!--div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="user"-->
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <span>MPA-Cloud</span>

      <!--<button mat-button (click)='toggleHomepage()'>-->
        <!--Home-->
      <!--</button>-->

      <!--<button mat-button (click)='toggleMPA()'>-->
        <!--MPA-->
      <!--</button>-->

      <button mat-button (click)='toggleProphane()'>
        Prophane
      </button>

      <button mat-button (click)='toggleTOS()'>
        Terms of Service
      </button>

      <button mat-button (click)='togglePP()'>
        Privacy Policy
      </button>

      <button mat-button (click)='toggleImpressum()'>
        Impressum
      </button>


    </div>
    <div class="spacer"></div>
    <div *ngIf="!user; else elseBlock">
      <button mat-icon-button (click)='navigateLogin()'>
        <mat-icon aria-label="account menu icon">account_circle</mat-icon>
      </button>
    </div>
    <ng-template #elseBlock>
      <button mat-icon-button (click)='navigateLogin()'>
        <img src="{{ user.picture }}">
      </button>
    </ng-template>
    <span class="gap"></span>
  </mat-toolbar-row>
</mat-toolbar>
