<mat-toolbar color="primary" class="mb-4">
  <mat-toolbar-row>

    <!--div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="user"-->
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <span *ngIf="!isProphane()">
        <span>MPA</span>
      </span>
      <span *ngIf="isProphane()">
        <span>Prophane</span>
        <button mat-button (click)='goto("/prophane")' *ngIf='user'>
          Job Submission
        </button>
        <button mat-button (click)='goto("/prophanejobcontrol")' *ngIf='user'>
          Job Control
        </button>
        <button mat-button [matMenuTriggerFor]="aboutMenu">About</button>
        <mat-menu #aboutMenu="matMenu">
          <button mat-menu-item (click)='goto("/prophaneabout")'>About Prophane</button>
          <button mat-menu-item (click)='goto("/termsofservice")'>Terms of Service</button>
          <button mat-menu-item (click)='goto("/privacypolicy")'>Privacy Policy</button>
          <button mat-menu-item (click)='goto("/impressum")'>Impressum</button>
        </mat-menu>
      </span>
    </div>
    <div class="spacer"></div>
    <div *ngIf="!user; else elseBlock">
      <button mat-icon-button (click)='goto("/login")'>
        <mat-icon aria-label="account menu icon">account_circle</mat-icon>
      </button>
    </div>
    <ng-template #elseBlock>
      <button mat-icon-button (click)='goto("/login")'>
        <img src="{{ user.picture }}">
      </button>
    </ng-template>
    <button mat-button (click)='authGuard.logout()' *ngIf='user || guest'>
      Log out
    </button>
    <button mat-button (click)='goto("/login")' *ngIf='!user && !guest'>
      Log in
    </button>
    <span class="gap"></span>
  </mat-toolbar-row>
</mat-toolbar>
