<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon aria-label="navigation menu icon">menu</mat-icon>
    </button>
    <span class="gap"></span>
    <span>MPA-Cloud</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)='navigateTest()'>
      <mat-icon aria-label="test icon">perm_device_information</mat-icon>
    </button>
    <span class="gap"></span>
    <div *ngIf="!user; else elseBlock">
      <button mat-icon-button (click)='navigateLogin()'>
          <mat-icon aria-label="account menu icon">account_circle</mat-icon>
      </button>
    </div>
    <ng-template #elseBlock>
      <button mat-icon-button (click)='navigateLogin()'>
        <img src="{{ user.photoUrl }}">
      </button>
    </ng-template>
    <span class="gap"></span>
  </mat-toolbar-row>
</mat-toolbar>