{{ job | json }}
{{ steps | json }}

<mat-card class="m-4">
  <mat-card-content>
    <mat-stepper
      [linear]="true"
      #stepper
      (selectionChange)="updateWorkflowStep($event.selectedIndex)"
    >
      <mat-step
        *ngFor="let step of steps"
        [completed]="isCompleted(step)"
        [editable]="true"
      >
        <ng-template matStepLabel>{{ step.label }}</ng-template>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>

<div class="max-w-xl mx-auto px-4 my-2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ currentStep?.label }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <router-outlet></router-outlet>
      <ofs-stepper-control-buttons
        [showPrev]="showPrev()"
        [showNext]="showNext()"
        [disablePrev]="isLoading()"
        [disableNext]="isLoading()"
        (onNavigation)="onButtonNavigate($event)"
      ></ofs-stepper-control-buttons>
    </mat-card-content>
  </mat-card>
</div>
