.documentation-content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
}

.form-button-grid {
  @apply mb-8 grid grid-cols-2 gap-4;
}

form {
  @apply flex flex-col mt-8 min-h-0;
}

.inner-form-container {
  @apply flex flex-col overflow-y-auto;
}

.outer-form-container {
  @apply flex flex-col h-full;
}

.workflow-container {
  //   width: 1536px;
  max-height: 48rem;
  min-height: 27rem;
  width: 100%;
  overflow-x: auto;
  @apply px-4 pb-4;
}

.workflow-card {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.workflow-card-content {
  min-height: 0;
}

.stepper-container {
  width: 100%;
  @apply max-w-screen-2xl;
}


// .my-stepper {
//   // height: 100% !important;
//   // visibility: visible !important;
//   color: green !important;
//   background-color: red !important;
// }
