<!-- {{ OFSData | json }} -->

<mat-card class="m-4">
  <mat-card-content>
    <mat-stepper
      [selectedIndex]="(currentStep$ | async).index"
      [linear]="true"
      #stepper
      (selectionChange)="setStep($event.selectedIndex)"
    >
      <mat-step
        *ngFor="let step of steps; let i = index"
        [completed]="(completedSteps$ | async)[i]"
        [editable]="true"
      >
        <ng-template matStepLabel>{{ step.label }}</ng-template>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>

<div class="max-w-xl mx-auto px-4 my-2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ (currentStep$ | async).label }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <router-outlet></router-outlet>

      <div class="flex flex-row justify-between">
        <button
          [disabled]="!(allowPrev$ | async)"
          mat-button
          (click)="prevStep()"
        >
          previous step
        </button>
        <button
          mat-button
          (click)="nextStep()"
          [disabled]="!(allowNext$ | async)"
        >
          next step
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
