<br>
DB Search Content
<br>
<br>
<button (click)="getExperiments()">View List of Experiments</button>
<ul class="experiments">
  <li *ngFor="let exp of experimentList">
      <span class="badge">{{ exp.exp_id }}</span>
  </li>
</ul>
<br>
<br>
<button (click)="getStreamingSessions()">View List of Streaming Session</button>
<ul class="experiments">
  <li *ngFor="let stream of streamList">
    <span class="badge">{{ stream.streaming_session_id }}</span>
  </li>
</ul>
<br>
<br>
<input #textEntered1>
<button (click)="newExperiment(textEntered1.value)">New Experiment</button>
<br>
<br>
<input #textEntered2>
<button (click)="newStreamingSession(textEntered2.value)">New Streaming Session</button>
<br>
<br>
<br>
