.mat-stepper {
  &.mat-stepper.my-stepper .mat-stepper-vertical{
    height: 100% !important;
    visibility: visible !important;
    color: green !important;
    background-color: red !important;
  }
}
