@import "../../../master-stylesheet.scss";
@import "./material-style-overrides.scss";

// adds tailwind, remember to add your project to the tailwind.config.js
@tailwind base;
@tailwind components;
@tailwind utilities;

// fixes input label bug when using tailwind and angular material (https://github.com/angular/components/issues/26102)
.mdc-notched-outline__notch {
  border-right: none;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-size: 14px;
  text-align: center;
}

// block text
p {
  text-align: justify;
  text-align-last: none;
}

// classes for workflow component
.documentation-content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
}

.form-button-grid {
  @apply mb-8 grid grid-cols-2 gap-4;
}

form {
  @apply flex flex-col min-h-0;
}

.inner-form-container {
  @apply flex flex-col overflow-y-auto;
}

.outer-form-container {
  @apply flex flex-col h-full;
}

.workflow-container {
  //   width: 1536px;
  max-height: 48rem;
  min-height: 27rem;
  width: 100%;
  overflow-x: auto;
  @apply px-4 pb-4;
}

.workflow-card {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.workflow-card-content {
  min-height: 0;
}

.stepper-container {
  width: 100%;
  @apply max-w-screen-2xl;
}
