<div id="scroll-container">
  <div id="header">
    <app-background></app-background>
    <h1 class="h1-header">Welcome to the MdOA-Toolbox</h1>
    <p class="p-header">
      Explore Tools, Scripts and Knowledge Graphs for Metaproteomics Data.
    </p>
    <div class="see-more-container">
      <div class="text-container">
        <p class="transparent-text-box">Explore our Tools</p>
        <button mat-icon-button (click)="scrollToSection1()">
          <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <div class="text-container">
        <p class="transparent-text-box">Explore our Scripts</p>
        <button mat-icon-button (click)="scrollToSection2()">
          <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <div class="text-container">
        <p class="transparent-text-box">News and Updates</p>
        <button mat-icon-button (click)="scrollToNewsfeed()">
          <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="section1-background"></div>
    <div id="section1" #section1 class="sectionscroll">
      <div>
        <h1 class="h1-content">
          Specialized Analytical Tools for Precise and Comprehensive Analysis of
          Metaproteomic Data
        </h1>
      </div>
      <div class="content-container">
        <div class="centered-content">
          <section class="image-grid">
            <div class="GridWrapper" *ngFor="let tool of tools">
              <tool-card [toolData]="tool"></tool-card>
            </div>
          </section>
          <button class="top-distance" mat-raised-button color="accent">
            Overview Tools
          </button>
        </div>
      </div>
    </div>

    <div id="section2" #section2 class="sectionscroll">
      <div class="content-container">
        <div class="centered-content">
          <div class="h1-content">
            <h1>Our Scripts</h1>
          </div>
          <section class="image-grid">
            <div class="GridWrapper" *ngFor="let script of scripts">
              <tool-card [toolData]="script"></tool-card>
            </div>
          </section>
          <button class="top-distance" mat-raised-button color="accent">
            Overview Scripts
          </button>
        </div>
      </div>
    </div>

    <div id="section3" #section3 class="sectionscroll">
      <div class="content-container">
        <div class="centered-content">
          <div>
            <h1 class="h1-content">Our Knowledge Graphs</h1>
          </div>
          <section class="image-grid">
            <div class="GridWrapper" *ngFor="let knowgraph of knowgraphs">
              <tool-card [toolData]="knowgraph"></tool-card>
            </div>
          </section>
          <button class="top-distance" mat-raised-button color="accent">
            Overview Knowledge Graphs
          </button>
        </div>
      </div>
    </div>

    <div class="section2-background"></div>
    <div id="newsfeed" #newsfeed class="sectionscroll">
      <div class="content-container">
        <div class="transparent-box">
          <h1 class="h1-content">News Feed</h1>
          <update-list [updates]="updateList"></update-list>
        </div>
      </div>
    </div>
  </div>
</div>
