#scroll-container {
  height: 87vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 
}

app-tools {
  width: 100%;
  z-index: -1; 
}

#header {
  position: relative;
  display: grid;
  text-align: center;
  scroll-snap-align: start;
  height: 87vh;
}

.sectionscroll {
  display: grid;
  text-align: center;
  scroll-snap-align: start;
  height: 87vh;
  scroll-snap-type: none;  // Remove scroll-snap-type property
}

.content-container {
  display: flex;
  padding: 0.5rem;
  margin-top: auto;
  flex-direction: column;
}

.centered-content {
  width: 100%;
  margin-top: auto;


}

section {
  max-width: 1200px;
  border-radius: 8px;
}

.h1-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.h1-content {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

p {
  text-align: center;
  color: #dddcdc;
}

.image-grid {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center; 
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.65);
}

.GridWrapper {
  margin: 15px;
  width: 200px;

}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.transparent-box {
  background: rgba(0, 0, 0, 0.8);
}

.see-more-container {
  text-align: center;
}

.arrow-icon {
  font-size: 36px;
  color: #000;
}

.see-more-container p {
  color: #555; 
}

.arrow-icon {
  font-size: 36px; 
  color: #000;
  margin-top: -20px
}

.top-distance {
  margin-top: 10px;
  margin-bottom: 10px;
}