<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile colspan="2"
    ><mat-form-field appearance="fill">
      <mat-label>{{ label }}</mat-label>
      <mat-select
        flex
        [(ngModel)]="selectedPipeline"
        (ngModelChange)="onValueChange($event)"
      >
        <mat-option *ngFor="let entry of entries" [value]="entry">
          {{ entry.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1"
    ><div>
      accepts files with an {{ selectedPipeline.acceptedDataTypes }} extension.
    </div>
  </mat-grid-tile>
</mat-grid-list>
