<!--ADD TREE DATA SELECTION-->
<!--ADD ROUTES/SELECTION FOR DIFFERENT ELEMENTS-->
<!--<app-top-nav class="fixed-topnav"></app-top-nav>-->

<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="side" opened="true">

    <mat-nav-list>
      <app-data-navigation-tree *ngFor="let item of navItems" [item]="item"></app-data-navigation-tree>
    </mat-nav-list>
    <button mat-button (click)="onHideAll()">
      Hide all!
    </button>
    <button mat-button (click)="onCollapseAll()">
      Collapse all!
    </button>
  </mat-sidenav>
<!--  <router-outlet></router-outlet>-->
  <app-database-search-page></app-database-search-page>
</mat-sidenav-container>

