<div class="startbox"  *ngIf="!user && !guestlogin">

  <!-- Google Login (info) -->
  <div class="startbox-item example-ripple-container mat-elevation-z4 showpointer"
       matRipple
       (click)="loginGoogle()">
    <span class="startbox-item-title">Login with Google</span>
    <div>
      <ul>
        <li>use your Google account to sign in</li>
        <li>extended job control center with progress indicator</li>
        <li>analysis fully customizable, e.g. add more annotation tasks</li>
      </ul>
    </div>
  </div>

  <!-- Guest Login Box (info) -->
  <div class="startbox-item example-ripple-container mat-elevation-z4 showpointer"
       matRipple
       (click)='showGuestInput()'
       *ngIf="!showGuestLogin">
    <span class="startbox-item-title">Continue without Login</span>
    <div>
      <ul>
        <li>no account required</li>
        <li>email notification when analysis results are available for download</li>
        <li>analysis restricted to default workflow and annotation tasks</li>
      </ul>
    </div>
  </div>

  <!-- Guest Login (input) -->
  <div class="startbox-item example-ripple-container mat-elevation-z4"  *ngIf="showGuestLogin">
    <span class="startbox-item-title">Continue as Guest
      <button type="button" class="close float-right" aria-label="Close" (click)="hideGuestInput()">
        <span aria-hidden="true">×</span>
      </button>
    </span>
    <div class="input-group mt-4">
      <input type="text" class="form-control"
             [(ngModel)]="guestEmail"
             placeholder="optional: email to receive results" autofocus>
      <div class="input-group-append">
        <button mat-raised-button color="primary"
                (click)="loginGuest()">continue
        </button>
      </div>
    </div>
  </div>

</div>

<div class="startbox"  *ngIf="user" >
  <div>{{navigateProphane()}}</div>
  <!-- Logged in  Box -->
  <div class="startbox-item example-ripple-container mat-elevation-z4">
    <div class="startbox-item-title">Logged in as registered user</div>
    <div class="startbox-item-content">name: {{ user.name }}</div>
    <div class="startbox-item-content">email: {{ user.email }}</div>
    <button mat-raised-button color="primary" (click)="authGuard.logout()" class="float-right">logout</button>
  </div>
</div>

<div class="startbox"  *ngIf="guestlogin">
  <div>{{navigateProphane()}}</div>
  <!-- Logged in  Box -->
  <div class="startbox-item example-ripple-container mat-elevation-z4">
    <div class="startbox-item-title">Logged in as guest (limited features)</div>
    <div class="startbox-item-content">email: {{ guestEmail }}</div>
    <div class="startbox-item-content"> </div>
    <button mat-raised-button color="primary" (click)="authGuard.logout()" class="float-right">logout</button>
  </div>
</div>
