<h2>Checkbox Selection for SDRF Table (incomplete)</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="sections-container">
    <div *ngFor="let section of selectables">
      <h3>{{ section.title }} (Selected: {{ section.count }})</h3>
      <div [formArrayName]="section.formArrayName">
        <div *ngFor="let item of section.data; let i = index">
          <label>
            <input type="checkbox" [formControlName]="i" (change)="updateCounters(section.formArrayName)" />
            <span>{{ item.title }}</span>
            <!-- <mat-icon *ngIf="item.description" matTooltip="{{item.description}}">info</mat-icon> -->
          </label>
        </div>
      </div>
    </div>
  </div>
  <button mat-flat-button color="primary" type="submit">Continue</button>
</form>
