<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>General Information</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sections-container">
      <div>
        <div formArrayName="properties1">
          <div *ngFor="let columnControl of properties1Controls; let i = index">
            <label>
              <input type="checkbox" [formControlName]="i" (change)="updateCounters('properties1')" />
              <span>{{ selectableProperties1[i].title }}</span>
              <mat-icon *ngIf="selectableProperties1[i].description" matTooltip="{{selectableProperties1[i].description}}">info</mat-icon>
            </label>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Characteristic</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sections-container">
      <div>
        <div formArrayName="characteristic">
          <div *ngFor="let columnControl of characteristicControls; let i = index">
            <label>
              <input type="checkbox" [formControlName]="i" (change)="updateCounters('characteristic')"/>
              <span>{{ selectableCharacteristic[i].title }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>General Information 2</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sections-container">
      <div>
        <div formArrayName="properties2">
          <div *ngFor="let columnControl of properties2Controls; let i = index" (change)="updateCounters('properties2')">
            <label>
              <input type="checkbox" [formControlName]="i" />
              <span>{{ selectableProperties2[i].title }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Comments</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sections-container">
      <div>
        <div formArrayName="comments">
          <div *ngFor="let columnControl of commentsControls; let i = index" (change)="updateCounters('comments')">
            <label>
              <input type="checkbox" [formControlName]="i" />
              <span>{{ selectableComments[i].title }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</form>
