<!--ADD TREE DATA SELECTION-->
<!--ADD ROUTES/SELECTION FOR DIFFERENT ELEMENTS-->
<!--<app-top-nav class="fixed-topnav"></app-top-nav>-->


<mat-sidenav-container class="custom-sidenav-container">
  <mat-sidenav mode="side" opened="true" class="mat-sidenav" >
    <mat-nav-list style="padding-top: 0px">
      <app-data-navigation-tree></app-data-navigation-tree>
    </mat-nav-list>
  </mat-sidenav >
  <mat-sidenav-content>
      <div class="custom-sidenav-content">
        <ng-container #treeoutlet></ng-container>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

