::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #106cc8 !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #106cc8 !important;
    ;
}

mat-form-field {
    width: 30%;
}

