<overview-card
  [toolName]="'Another Tool'"
  [toolLogo]="'./assets/img/Meta.png'"
  [toolDescription]="'Description for another tool.'"
  [inputsOutputs]="[
    { inputs: ['Input1', 'Input2'], outputs: ['Output1', 'Output2'] },
  ]"
  [developers]="[
    { name: 'Developer 1', email: 'developer1@example.com', link: '/developer1' },
    { name: 'Developer 2', email: 'developer2@example.com', link: '/developer2' },
    { name: 'Developer 3', email: 'developer3@example.com', link: '/developer3' }
  ]"
  [backLink]="'/overview'" 
  [backLinkText]="'Go to MetaForge'" 
></overview-card>