<div class="documentation-content-container">
  <section class="mat-typography">
    <h2>Panel Selection</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus
      in, vero illum sit labore rem fuga sequi aliquid sapiente nisi, modi
      praesentium omnis illo placeat eius amet quidem non.
    </p>
  </section>

  <!-- panel select -->
  <div class="outer-form-container">
    <div class="inner-form-container">
      <mat-form-field appearance="outline">
        <mat-label>profile selection</mat-label>
        <mat-select [formControl]="profileSelection">
          <mat-option
            *ngFor="let option of listOfFeatureProfiles"
            [value]="option"
          >
            {{ option.profileID }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        [disabled]="formDisabledSubject$ | async"
        mat-flat-button
        (click)="applyFeatureProfile()"
        color="primary"
      >
        apply feature profile to selection
      </button>

      <div class="my-4">
        <mat-divider></mat-divider>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="find feature"
          #input
          [disabled]="formDisabledSubject$ | async"
        />
      </mat-form-field>

      <!-- table with features -->
      <div class="feature-table">
        <table mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                [disabled]="formDisabledSubject$ | async"
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row.featureID) : null"
                [checked]="selection.isSelected(row.featureID)"
                [disabled]="formDisabledSubject$ | async"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="featureID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              feature id
            </th>
            <td mat-cell *matCellDef="let feature">
              {{ feature.featureID }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selection.toggle(row.featureID)"
          ></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="2">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <div class="my-4">
      <mat-divider></mat-divider>
    </div>

    <button
      [disabled]="!selection.hasValue() || (formDisabledSubject$ | async)"
      mat-flat-button
      (click)="generateResults()"
      color="primary"
    >
      submit features and retrieve results
    </button>
  </div>
</div>
