<div class="page-content">
  <div class="header">
    <shared-nav-toolbar
      [routerlinks]="routes"
      [applicationname]="'Omics Feature Finder'"
      [haslogin]="true"
      [homelink]="homelink">
    </shared-nav-toolbar>
    <app-privacy-consent-banner></app-privacy-consent-banner>
  </div>
  <div class="content">
    <div style="height: 100%">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-page-footer class="footer" [footercontent]="footercontent"></app-page-footer>
</div>
