<div class="flex flex-col h-full justify-between">
  <!-- content -->

  <main class="max-w-3xl mx-auto px-4 mb-auto">
    <!-- link to workflow -->
    <div class="text-center mt-20 mb-20">
      <!-- <shared-login-buttons></shared-login-buttons> -->
    </div>

    <!-- link to tutorial -->

    <!-- about -->
    <div>
      <ng-particles
        [id]="id"
        [options]="particlesOptions"
        [particlesInit]="particlesInit"
        (particlesLoaded)="particlesLoaded($event)"
      ></ng-particles>
    </div>

    <mat-card>
      <mat-card-header>
        <mat-card-title class="text-center"
          >Metadata-Tool for Metadata Conversion</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        Embark on a seamless journey of data transformation with our
        cutting-edge Metadata-Tool, your go-to solution for metadata conversion.
        Whether you're dealing with XML, JSON, CSV, or any other metadata
        format, our tool is designed to provide you with a hassle-free
        experience, ensuring your metadata is accurately and efficiently
        converted to SDRF, mzID and mzML. Unlock the full potential of your data
        with features tailored for precision, speed, and flexibility. The
        Metadata-Tool for Metadata Conversion streamlines your workflow,
        allowing you to focus on what truly matters – making the most out of
        your data. Experience the future of metadata management today!
      </mat-card-content>
    </mat-card>
    <br />
    <mat-card>
      <button mat-flat-button color="primary" routerLink="/upload">
        Start Workflow
      </button>
    </mat-card>

    <!-- link to repo and publication -->
    <mat-grid-list cols="3" rowHeight="300px" gutterSize="10px">
      <mat-grid-tile>
        <mat-card (click)="goToLink('your-publication-link')">
          <mat-card-header>
            <mat-icon>article</mat-icon>
            <mat-card-title>Citing</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Our fancy publication can be read here.</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card
          (click)="
            goToLink(
              'https://gitlab.com/kay.schallert/mpa-website/-/tree/mpa_development?ref_type=heads'
            )
          "
        >
          <mat-card-header>
            <mat-icon>code</mat-icon>
            <mat-card-title>Source Code</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Our fancy GitHub repo can be found here.</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-icon>business</mat-icon>
            <mat-card-title>Affiliations</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>We are funded by...</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </main>
</div>
