<div class="flex flex-col h-full justify-between">
  <!-- content -->
  <main class="max-w-3xl mx-auto px-4 mb-auto">
    <!-- link to workflow -->
    <div class="text-center mt-20 mb-20">
      <!-- <shared-login-buttons></shared-login-buttons> -->
      <button mat-flat-button color="primary" routerLink="/upload">
        Start Workflow
      </button>
    </div>

    <!-- link to tutorial -->
    <div></div>

    <!-- about -->

    <section>
      <h2 class="text-center">Metadata-Tool for Metadata Conversion</h2>
      <p>
        Embark on a seamless journey of data transformation with our
        cutting-edge Metadata-Tool, your go-to solution for metadata conversion.
        Whether you're dealing with XML, JSON, CSV, or any other metadata
        format, our tool is designed to provide you with a hassle-free
        experience, ensuring your metadata is accurately and efficiently
        converted to SDRF, mzID and mzML. Unlock the full potential of your data
        with features tailored for precision, speed, and flexibility. The
        Metadata-Tool for Metadata Conversion streamlines your workflow,
        allowing you to focus on what truly matters – making the most out of
        your data. Experience the future of metadata management today!
      </p>
    </section>

    <!-- link to repo and publication -->
    <section>
      <h2 class="text-center">Citing</h2>
      <p>Our fancy publication can be read here [LINK]</p>
    </section>

    <section>
      <h2 class="text-center">Source Code <i class="fab fa-github"></i></h2>
      <p>
        Our fancy GitHub repo can be found
        <a
          href="https://gitlab.com/kay.schallert/mpa-website/-/tree/mpa_development?ref_type=heads"
          >here</a
        >.
      </p>
    </section>

    <!-- funding -->
    <section>
      <h2 class="text-center">Affiliations</h2>
      <p>We are funded by</p>
    </section>
  </main>
</div>

<!-- <ng-particles
  [id]="id"
  [options]="particlesOptions"
  [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"
></ng-particles> -->
