
  <app-sidenav-button [buttonlabel]="'home'" [redirectURL]="'/home'"></app-sidenav-button>
  <br>
  <app-sidenav-button [buttonlabel]="'dbsearch'" [redirectURL]="'/dbsearch'"></app-sidenav-button>
  <br>
  <app-sidenav-button [buttonlabel]="'proteinloader'" [redirectURL]="'/proteinloader'"></app-sidenav-button>
  <br>
  <app-sidenav-button [buttonlabel]="'modeltrainer'" [redirectURL]="'/modeltrainer'"></app-sidenav-button>
  <br>
  <app-sidenav-button [buttonlabel]="'neo4j'" [redirectURL]="'/neo4j'"></app-sidenav-button>
  <br>




