<!--<p>network-visualization-root works!</p>-->
<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-4 pt-4">
        <vis-search-bar
          *ngIf="activeToolName != 'shortagePath'"
          [searchText]="searchText"
          [suggestions]="suggestions"
          (searchTextChangedEvent)="onSearchTextChanged($event)"
          (searchEvent)="onSearch()"
          (suggestionClickEvent)="onSuggestionClick($event)"
        ></vis-search-bar>
      </div>
    <div class="col-md-8 pt-4">
      <vis-network-data-table></vis-network-data-table>
    </div>
    
  </div>
  <div class="row no-gutters" #canvasContainer>
    <div  class="col-md-1 ">
      <vis-toolbar
        [panEnabled]="panEnabled"
        [brushEnabled]="brushEnabled"
        [textBoxMode] = "textBoxMode"
        [activeToolName]="activeToolName"
        (searchEvent)="searchEnable()"
        (zoomInEvent)="handleZoomInEvent()"
        (zoomOutEvent)="handleZoomOutEvent()"
        (toolTipEvent)="enableToolTip()"
        (panGraphEvent)="panGraph()"
        (selectNodeEvent)="selectNode()"
        (refreshGraphEvent)="refreshGraph()"
        (toggleCallbackModeEvent)="toggleCallbackMode($event)"
        (snapModeEvent)="snapMode()"
        (orthogonalEvent)="orthogonalMode()"
        (shortagePathEvent)="shortagePathEnabled()"
        (arrowAnimationEvent)="handleArrowAnimationEvent()"
        (dynamicEvent)="handleDynamicEvent()"
        (toggleTextBoxModeEvent)="toggleTextBoxMode()"
      >
      //(arrowAnimationEvent)="arrowAnimation()"
        //(enableFBSEvent)="enableFBS()"
        /////(uploadFileEvent)="uploadFile()"
      </vis-toolbar>
    </div>
    <div class="col-md-11 ">
      <vis-network-canvas></vis-network-canvas>
    </div>
  </div>
</div>