.taxonomy-tab>button {
    font-weight: 400;
}

.taxonomy-tab-options {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1em;
    margin-left: 2em;
    align-items: center;
}

.taxonomy-tree {
    float: left;
    text-align: left;
    min-width: 80%;
}

.taxonomy-tree ul,
.taxonomy-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.taxonomy-tree-node {
    display: block;
}

.taxonomy-tree-node .taxonomy-tree-node {
    padding-left: 20px;
}

.taxonomy-tree-node-row {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.taxonomy-tree-node-row:not(.taxonomy-tree-node-highlighted):hover {
    background-color: #fafafa;
}

.taxonomy-tree-node-highlighted {
    background-color: #FFDBD6;
}

.taxonomy-tree-node-highlighted:hover {
    background-color: #f5d3d3;
}

.taxonomy-tree-node-essentials {
    display: flex;
    justify-content: flex-start;
    padding-right: 5px;
}

.taxonomy-tree-node-info {
    width: 100%;
    margin: auto;
}

.taxonomy-tree-node-quant {
    margin-top: auto;
    margin-bottom: auto;
}

.taxonomy-tree-invisible {
    display: none;
}