<!--<h1>Account Management</h1>-->

<div fxLayout="column" fxLayoutGap="20px" class="mt-5">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div *ngIf="!currUser">
      <button mat-raised-button color="primary" (click)="login()">Sign in with Google</button>
    </div>
    <div *ngIf="currUser">
      <button mat-raised-button color="primary" (click)="logoff()">Sign out with Google</button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="currUser">
    <img src="{{ currUser.photoUrl }}">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="currUser">
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="currUser">
        <h4>Name:</h4>
        <p>ID:</p>
        <p>EMail:</p>
      </div>
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="currUser">
        <h4>{{ currUser.name }}</h4>
        <p>{{ currUser.idToken }}</p>
        <p>{{ currUser.email }}</p>
      </div>
    </div>
  </div>
</div>
