<!--<h1>Account Management</h1>-->

<div fxLayout="column" fxLayoutGap="20px" class="mt-5">
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div *ngIf="!user && checked">
      <button mat-flat-button (click)="loginElixir()">
        <img width="382px" src="assets/elixir_signin/ELIXIR_login-buton-blue.svg">
      </button>
    </div>
    <div *ngIf="!user && checked">
      <button mat-flat-button (click)="loginGoogle()">
        <img src="assets/google_signin/btn_google_signin_dark_normal_web@2x.png">
      </button>
    </div>
    <mat-checkbox [(ngModel)]="checked">I sell my soul!</mat-checkbox>
    <div *ngIf="user">
      <button mat-raised-button color="primary" (click)="logout()">Sign out!</button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="user">
    <img src="{{ user.picture }}">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="user">
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="user">
        <h4>Name:</h4>
        <p>ID:</p>
        <p>EMail:</p>
      </div>
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="user">
        <h4>{{ user.name }}</h4>
        <p>{{ user.sub }}</p>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>
</div>
