<div class="flexbox-column">
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
    </mat-form-field>
  </div>

  <div style="overflow-y: auto; height: 100%" class="table-border">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="proteinID">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.proteinID }} </mat-cell>
      </ng-container>

      <!-- Accession Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Accession</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.accession }} </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="setProtein(row)"
        [ngClass]="{
          'table-highlight-row': highlightRow(row),
          'table-element-row': !highlightRow(row)
        }"
      >
      </mat-row>
    </mat-table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
