<div>
  <ng-container *ngIf="this.mpaTableDataService.requestingSpectrum">
    Requesting Spectrum...
    <span class="spinner-border spinner-border-sm ml-2 bg-white" role="status" aria-hidden="true"></span>
  </ng-container>

  <ng-container *ngIf="!this.mpaTableDataService.requestingSpectrum && this.spectrumData">
    <div class="chart" class="scatter-plot">
      <button type="button" (click)="onClick()">Test</button>
      <button type="button" (click)="resetChart()">ResetChart</button>
      <p>Scatter-Plot</p>
      <!--canvas baseChart
      [data]="scatterChartData"
      [type]="scatterChartType"
      [options]="scatterChartOptions"
      >
      </canvas-->
  </div>
  </ng-container>
</div>
