<div [@policyConsent]=consentDialogStatus class="consent-wrapper">
  <div class="policy-consent">
      <span>
        This website uses cookies for an optimal user experience. By using our website, you acknowledge that you have
        read, understood and agree to our <a href="/termsofservice">Terms of Use</a> and <a href="privacypolicy">Privacy Policy</a>.
      </span>
    <span>
        <button mat-flat-button class="cc-allow" (click)="consent()">Got it!</button>
      </span>
  </div>
</div>
