<div class="card w-50 ml-5">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">job label</th>
      <th scope="col">creation time</th>
      <th scope="col">status</th>
      <th scope="col">results</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="jobs == undefined || jobs.length < 1">
      <td colspan="6"><span class="align-content-center">no jobs yet</span></td>
    </tr>
    <tr *ngFor="let job of jobs; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ job.parameters.jobLabel }}
      </td>
      <td>
        {{ job.creationdate }}
      </td>
      <td>
        {{ job.statusmessage }}
      </td>
      <td>
        <span *ngIf="job.downloadURL != ''"><a href="{{ job.downloadURL }}">Download</a></span>
      </td>
      <td>
        <button mat-flat-button color="warn" (click)="confirmDelete(i, job.label)">delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
