<br>
ModelContent
<br>
<br>
<input #textEntered1>
<button (click)="newCSV(textEntered1.value)">Create CSV from PRIDE ID</button>
<!--<mat-list>
  <mat-list-item> Status </mat-list-item>
  <mat-list-item> <a [href]=this.imageBlobUrl download="file.txt">DownloadFile</a> </mat-list-item>

</mat-list>
<button (click)="upload()">Download</button>-->
<br>
<br>
<h3>Upload PSM-CSV file</h3>
<br>
<input type="file" #filechooser (change)="onChange(filechooser.files)" multiple />
<ul>
  <li *ngFor="let f of files">{{ f.name }}</li>
</ul>
<button (click)="upload()">Upload</button>
<input type="checkbox" name="balanced" #isbalanced (change)="changeBalancedCheckbox(isbalanced.name)">Balanced?<br>
<br>
<br>
<br>
<br>
<button (click)="getModels()">View List of Existing Models</button>
<ul class="models">
  <li *ngFor="let model of models">
    <span class="badge">{{ model.validator_model_id }}</span>
  </li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
