canvas {
    transform: scale(1);
    transform-origin: top left;
    border-radius: 15px;
    border: solid gray 0.5px;
}

.sequence-list {
    padding: 10px 20px; /* Adjust padding as needed */
}

.sequence-list li {
    margin-bottom: 10px; /* Adjust margin between list items */
}


.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.arrowHead {
    fill: #757474; 
}

.tooltip {
    position: absolute;
    text-align: start; 
    height: auto;
    padding: 5px;
    font: 13px sans-serif;
    background: rgb(239, 244, 250); 
    border: solid gray 1px;
    border-radius: 15px;
    max-height: 300px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

.highlighted {
    fill: rgb(251, 255, 0);
    stroke-width: 5px;
    stroke: red;
}

text {
    stroke: none;
}

svg {
    transform: scale(1);
    transform-origin: top left;
    border-radius: 15px;
    border: solid gray 0.5px;
}


.search-container {
    position: relative;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-button-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem; 
}

.search-button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    background-color: #005f5f;
}

.suggestions-list {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    z-index: 1000;
    background-color: #fff;
   
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
}

.suggestions-list li:hover {
    background-color: #eee;
}

.fas {
    font-size: 16px;
}

.main-container {
    display: flex;
    align-items: flex-start;
}
 
svg {
    margin-right: 10px; 
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px; 
}

.control-panel button {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.control-panel button:hover {
    background-color: #eaeaea;
}

.brush .selection {
    fill: rgb(80, 211, 255);
    stroke: steelblue;
    stroke-opacity: 0.8;
    shape-rendering: crispEdges;
    opacity: 0.5;
  }
  