#scroll-container {
  height: 100vh;
  // scroll-snap-type: y mandatory;
}

app-tools {
  width: 100%;
  z-index: -1;
}

#header {
  position: relative;
  display: grid;
  text-align: center;
  scroll-snap-align: start;
  height: 85vh;
}

// .sectionscroll {
//   display: grid;
//   text-align: center;
//   scroll-snap-align: start;
//   height: 87vh;
//   scroll-snap-type: none;
// }

.content-container {
  display: flex;
  padding: 0.5rem;
  margin-top: auto;
  flex-direction: column;
}

.centered-content {
  max-width: 80vw;
  min-width: 400px;
  margin-top: auto;
  justify-items: center;
}

section {
  border-radius: 30px;
}

.h1-header, .p-header {
  max-width: 1200px;
  border-radius: 40px;
}

.h1-header {
  font-size: 48px;
  margin-bottom: 0; 
  margin-top: auto;
  margin-left:auto;
  margin-right: auto;
  font-weight: bold;
  color: #4df7c6;
  background: rgba(0, 0, 0, 0.5);
}

.p-header {
  font-size: 24px;
  margin-top: 1rem;
  margin-bottom: auto;
  margin-left:auto;
  margin-right: auto;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
.h1-content {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 2rem;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: beige;
  margin: 10px;
  // background: linear-gradient(to right, #f8ffae, #ffc3a0);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.transparent-text-box {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

.transparent-box {
  background: rgba(245, 245, 220, 0.8);
  border-radius: 60px;
  margin-left: auto;
}

.see-more-container {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.see-more-container p {
  color: #4df7c6;
  font-size: 18px;
}

.arrow-icon {
  font-family: "Material Icons";
  font-size: 48px;
  color: #4df7c6;
  margin-top: auto;
  width: auto;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  // gap: 5px;
}

#section1 {
  grid-column: 2 / 10;
  grid-row: 1;
}

.section2-background {
  grid-column: 1 / 11;
  grid-row: 4;
  background-image: url("/assets/img/Protein-Research.png");
  z-index: -1;
  background-position: center;
  background-size: cover;
}

#section2 {
  justify-content: center;
  grid-column: 2 / 10;
  grid-row: 2;
}

#section3 {
  grid-column: 2 / 10;
  grid-row: 3;
}

#newsfeed {
  grid-column: 6/11;
  grid-row: 4;
  height: 87vh;
}

.top-distance {
  margin-bottom: 10px;
  margin-top: 10px;
}
