<app-progress-bar [uploadProgress]="uploadProgress"></app-progress-bar>

<mat-vertical-stepper [linear]="true" #stepper>
  <!-- Step 1: Pipeline Selection -->
  <mat-step [stepControl]="pipelineSelectFormGroup">
    <ng-template matStepLabel>Choose Pipeline</ng-template>
    <app-pipeline-selection
      [(ngModel)]="selectedPipeline"
      [entries]="pipelines"
      label="Choose Pipeline"
      (ngModelChange)="firstStepCompleted = !!$event"
    >
    </app-pipeline-selection>
  </mat-step>

  <!-- Step 2: File Upload -->
  <mat-step
    [stepControl]="fileUploadFormGroup"
    [completed]="firstStepCompleted && secondStepCompleted"
  >
    <ng-template matStepLabel>Upload Files</ng-template>
    <app-file-upload
      [acceptedDataTypes]="selectedPipeline.acceptedDataTypes"
      [acceptedFileRegex]="selectedPipeline.matchingFilesReges"
      (filesSelected)="handleFileSelection($event); secondStepCompleted = true"
      (uploadTriggered)="onUpload()"
    >
    </app-file-upload>
  </mat-step>

  <!-- Metadata Questions Step -->
  <mat-step
    [stepControl]="metadataQuestionFormGroup"
    [completed]="metadataQuestionsCompleted"
  >
    <ng-template matStepLabel>Metadata Questions</ng-template>
    <app-metadata-quest
      (questCompleted)="onMetadataQuestCompleted($event)"
    ></app-metadata-quest>
  </mat-step>

  <!-- Metadata Table Step -->
  <mat-step
    [stepControl]="metadataTableFormGroup"
    [completed]="metadataTableCompleted"
  >
    <ng-template matStepLabel>Metadata Table</ng-template>
  
    <app-checkboxselection></app-checkboxselection>
    <metadata-workflow></metadata-workflow>

  </mat-step>

  <!-- Metadata Table Step -->
  <mat-step
    [stepControl]="fileDownloadFormGroup"
    [completed]="fileDownloadCompleted"
  >
    <ng-template matStepLabel>Download</ng-template>
    <app-metadata-downloadpage></app-metadata-downloadpage>

  </mat-step>
</mat-vertical-stepper>
