<div class="metadata-upload-container">
  <!-- Progress Bar Component -->
  <app-progress-bar
    *ngIf="uploadProgress > 0"
    [uploadProgress]="uploadProgress">
  </app-progress-bar>

  <!-- Pipeline Selection Component -->
  <app-pipeline-selection
    *ngIf="showContainer"
    [(ngModel)]="selectedPipeline"
    [pipelines]="pipelines">
  </app-pipeline-selection>

  <!-- File Upload Component -->
  <app-file-upload
    *ngIf="showContainer"
    [acceptedDataTypes]="selectedPipeline.acceptedDataTypes"
    (filesSelected)="handleFileSelection($event)">
  </app-file-upload>


    <!-- Upload Button (can be moved to parent component if needed) -->
    <div class="upload-button-container">
        <button (click)="onUpload()">Upload Files</button>
    </div>

  <!-- Display Selected Pipeline and Metadata Upload JSON -->
  <div class="display-info-container">
    <div class="pipeline-value">
      <strong>Pipeline Value:</strong>
      <pre>{{ selectedPipeline | json }}</pre>
    </div>
    <div class="metadata-json">
      <strong>Metadata Upload JSON:</strong>
      <pre>{{ metadataUploadJson | json }}</pre>
    </div>
  </div>
</div>
