<mat-form-field>
  <input matInput type="text" placeholder="folder name" [(ngModel)]="name">
  <button mat-button matSuffix mat-icon-button aria-label="Accept" (click)="onAccept()">
    <mat-icon>done</mat-icon>
  </button>  
  <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<button matButton (click)='onAddFolder($event)'>Add folder!</button>
<button matButton (click)='onAddExperiment($event)'>Add experiment!</button>
<button matButton (click)='onRemoveFolder($event)'>Remove this folder!</button>
