<div class="documentation-content-container">
  <section class="mat-typography">
    <h2>Wrapper Input</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem vero quas
      numquam? At nulla ad quo itaque doloremque. Earum nihil debitis
      voluptatibus obcaecati recusandae cumque animi repellendus quis eveniet
      ea?
    </p>
  </section>

  <div class="outer-form-container">
    <form [formGroup]="formModel" (ngSubmit)="submitWrapperConfig()">
      <div class="inner-form-container">
        <mat-form-field class="mt-4" appearance="outline">
          <mat-label>p-value cutoff</mat-label>
          <input type="number" matInput formControlName="pvalCutoff" />
          <mat-error *ngIf="formModel.get('pvalCutoff').invalid">{{
            getErrorMessage(formModel.get("pvalCutoff"))
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>repeats</mat-label>
          <input type="number" matInput formControlName="repeats" />
          <mat-error *ngIf="formModel.get('repeats').invalid">{{
            getErrorMessage(formModel.get("repeats"))
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>folds</mat-label>
          <input type="number" matInput formControlName="folds" />
          <mat-error *ngIf="formModel.get('folds').invalid">{{
            getErrorMessage(formModel.get("folds"))
          }}</mat-error>
        </mat-form-field>
      </div>

      <button [disabled]="!formModel.valid" mat-flat-button color="primary">
        Next
      </button>
    </form>
  </div>
</div>
