<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? toggleRow(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Accession Column -->
    <ng-container matColumnDef="representative_accession">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rep. Accession </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.representative_accession}} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="representative_description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rep. Description </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.representative_description}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
    </mat-row>
      
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100, 1000]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #tpl let-element>
	<div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
    <app-proteingroup-detail-view [proteinGroupUUID]='element.proteingroup_uuid' [experimentUUID]='experimentUUID'></app-proteingroup-detail-view>
	</div>
</ng-template>