// slider field, toggle bar
//.mat-slide-toggle mat-slide-toggle-bar 
// .mat-slide-toggle-input .mat-slide-toggle-thumb-container .mat-slide-toggle-thumb
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(103, 58, 183, .54);
  }
// slider button  toggle thumb
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color:  #003f97;
  }

  .mat-mdc-slide-toggle .mdc-switch{
    background-color:  #003f97;
  }

  //.mcd-switch--unselected

  //mat-mdc-slide-toggle-1-label (aria-labelledby)

.jobCards {
  padding: 1% !important;
  width: 100%;
}

.responsive-job-card {
  width: 100%;
  /*flex-shrink: 1;*/
  /*flex-grow: 1;*/
  min-height: 0;
  display: flex;
  flex-direction: column;
}