.keywords-tab-options {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1em;
    margin-left: 2em;
    align-items: center;
}

.keywords-tab ul,
.keywords-tab li {
    margin-top:  0;
    margin-bottom: 0;
    padding: 0 0 0 0;
    list-style-type: none;
}

.keyword-category {
    margin-bottom: 5px;
    box-shadow: none;
    width: 100%;
}

.keyword-category-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.3);
}

.keyword-row {
    display:flex;
    justify-content: space-between;
    cursor: pointer;
}

.keyword-row>span {
    margin-top:auto;
    margin-bottom:auto;
    padding-right: 3px;
}

.keyword-row:not(.keyword-row-header):not(.keyword-row-selected):hover{
    background-color: #fafafa;
}

.keyword-row-selected {
    background-color:#FFDBD6;
}

.keyword-row-selected:hover {
    background-color: #f5d3d3;
}

.keyword-row-header {
    padding-bottom: 3px !important;
}