// @use imports the Angular Material theme functions and mixins
// @use declarations need to be made before any @import or @include statements
@use '@angular/material' as mat;

// Import the custom palettes
@import './palettes/mdoa-green-palette.scss';
@import './palettes/mdoa-grey-palette.scss';
@import './palettes/mdoa-red-palette.scss';

// Define the palettes
$mdoa-primary: mat.define-palette($md-mdoagrey);
$mdoa-accent: mat.define-palette($md-mdoagreen, 500, 200, 900);
$mdoa-warn: mat.define-palette($md-mdoared);

// Define the theme
$mdoa-theme: mat.define-light-theme(
  (
    color: (
      primary: $mdoa-primary,
      accent: $mdoa-accent,
      warn: $mdoa-warn,
    ),
  )
);

// style settings for the complete app
html,
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
