<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text rki-blue-input" id="job_label">Job label</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="prophaneJobState.currentProphaneJob.parameters.jobLabel">
</div>

<!-- Source selection -->
<div class="input-group mb-3" style="color: #495057 !important">
  <div class="input-group-prepend">
    <label class="input-group-text">Source</label>
  </div>
  <mat-select class="no-arrow custom-select"
              [(ngModel)]="prophaneJobState.currentProphaneJob.parameters.reportStyle"
              [compareWith]="compareByID"
              (selectionChange)="onSourceChange()">
    <mat-option *ngFor="let typeItem of this.reportStyles" [value]="typeItem">{{typeItem.name}}</mat-option>
  </mat-select>
</div>

<!--Report Styles-->
<ng-container *ngFor="let reportOption of this.reportOptions">
  <ng-container
    *ngIf="prophaneJobState.currentProphaneJob.parameters.reportStyle.valueString &&
    prophaneJobState.currentProphaneJob.parameters.reportStyle.id === reportOption.id">
    <app-file-input
      [onFileChangeMethod]="onCSVChange"
      [selectedFile]="prophaneJobState.proteinReportFile"
      [labels]="{inputGroupLabel: reportOption.prependLabel, inputLabel: reportOption.htmlInputLabel}">
    </app-file-input>
  </ng-container>
</ng-container>

<!-- Fasta -->
<app-file-input
  [onFileChangeMethod]="onFastaChange"
  [selectedFile]="prophaneJobState.proteinReportFile"
  [labels]="{inputGroupLabel: 'FASTA file', inputLabel: 'Choose file (.fasta, .faa, .fa)'}">
</app-file-input>

<!-- Exclude -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Exclude</span>
  </div>
  <mat-select class="custom-select" [(ngModel)]="prophaneJobState.currentProphaneJob.parameters.contaminationOption"
              [compareWith]="compareByID"
              (change)="setContaminationLabel(prophaneJobState.currentProphaneJob.parameters.contaminationOption)">
    <mat-option *ngFor="let contitem of this.prophaneJobState.contoptions" [value]="contitem">{{contitem.name}}</mat-option>
  </mat-select>
<!--  <div class="input-group-append">-->
<!--    <input-->
<!--      *ngIf="prophaneJobState.currentProphaneJob.parameters.contaminationOption && prophaneJobState.currentProphaneJob.parameters.contaminationOption.id == 1"-->
<!--      [ngStyle]="{'background-color': prophaneJobState.isString(prophaneJobState.currentProphaneJob.parameters.contaminationOption.label, 'cont_1') ? 'white' : prophaneJobState.formErrorColor }"-->
<!--      type="text"-->
<!--      class="form-control" [(ngModel)]="prophaneJobState.currentProphaneJob.parameters.contaminationOption.label"-->
<!--      placeholder="text"-->
<!--      (change)="setContaminationLabel(prophaneJobState.currentProphaneJob.parameters.contaminationOption.label)">-->
<!--    <input-->
<!--      *ngIf="prophaneJobState.currentProphaneJob.parameters.contaminationOption && prophaneJobState.currentProphaneJob.parameters.contaminationOption.id == 2"-->
<!--      [ngStyle]="{'background-color': prophaneJobState.isString(prophaneJobState.currentProphaneJob.parameters.contaminationOption.label, 'cont_2') ? 'white' : prophaneJobState.formErrorColor }"-->
<!--      type="text"-->
<!--      class="form-control" [(ngModel)]="prophaneJobState.currentProphaneJob.parameters.contaminationOption.label"-->
<!--      placeholder="text"-->
<!--      (change)="setContaminationLabel(prophaneJobState.currentProphaneJob.parameters.contaminationOption.label)">-->
<!--    <input-->
<!--      *ngIf="prophaneJobState.currentProphaneJob.parameters.contaminationOption && prophaneJobState.currentProphaneJob.parameters.contaminationOption.id == 3"-->
<!--      [ngStyle]="{'background-color': prophaneJobState.isString(prophaneJobState.currentProphaneJob.parameters.contaminationOption.label, 'cont_3') ? 'white' : prophaneJobState.formErrorColor }"-->
<!--      type="text"-->
<!--      class="form-control" [(ngModel)]="prophaneJobState.currentProphaneJob.parameters.contaminationOption.label"-->
<!--      placeholder="regular expression (PCRE)"-->
<!--      (change)="setContaminationLabel(prophaneJobState.currentProphaneJob.parameters.contaminationOption.label)">-->
<!--  </div>-->
</div>

<ng-container *ngIf="prophaneJobState.currentProphaneJob.parameters.contaminationOption.valueString !== 'none'">
  <div class="input-group mb-3">
    <ng-container *ngFor="let contOption of this.prophaneJobState.contoptions">
      <input *ngIf="contOption.id === prophaneJobState.currentProphaneJob.parameters.contaminationOption.id"
             type="text" class="form-control"
             placeholder="{{prophaneJobState.currentProphaneJob.parameters.contaminationOption.formLabel}}"
             [ngStyle]="{'background-color':
             prophaneJobState.isString(prophaneJobState.currentProphaneJob.parameters.contaminationOption.label, 'elemid_' + contOption.id) ?
              'none' : prophaneJobState.formErrorColor }"
             (change)="setContaminationLabel(prophaneJobState.currentProphaneJob.parameters.contaminationOption.label)">
    </ng-container>
  </div>
</ng-container>

