<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text rki-blue-input" id="job_label">Job label</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="prophaneJob.parameters.jobLabel">
</div>

<!-- Source selection -->
<div class="input-group mb-3" style="color: #495057 !important">
  <div class="input-group-prepend">
    <label class="input-group-text">Source</label>
  </div>
  <mat-select class="no-arrow custom-select"
              [(ngModel)]="prophaneJob.parameters.reportStyle"
              [compareWith]="compareByID"
              (selectionChange)="this.sourceChangeEvent.emit()">
    <mat-option *ngFor="let typeItem of this.reportStyles" [value]="typeItem">{{typeItem.name}}</mat-option>
  </mat-select>
</div>

<!-- MPA Single Experiment-->
<div
  *ngIf="prophaneJob.parameters.reportStyle.valueString && prophaneJob.parameters.reportStyle.id == 0"
  class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Report file</span>
  </div>
  <div class="custom-file">
    <input type="file" accept=".csv" class="custom-file-input" id="mpa" #proteinreportfile
           (change)="onCSVChange(proteinreportfile.files)"
           class="custom-file-input">
    <!---(click)="proteinreportfile.click()"-->
    <label *ngIf="!proteinReportFile" class="custom-file-label" for="mpa">Choose MPA file (.csv)</label>
    <label *ngIf="proteinReportFile" class="custom-file-label" for="mpa">{{proteinReportFile.name}}</label>
  </div>
</div>

<!--&lt;!&ndash; MPA Multiexperiment&ndash;&gt;-->
<!--<div-->
<!--  *ngIf="currentProphaneJob.parameters.reportStyle.valueString && currentProphaneJob.parameters.reportStyle.id == 1"-->
<!--  class="input-group mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text">Report file</span>-->
<!--  </div>-->
<!--  <div class="custom-file">-->
<!--    <input type="file" accept=".csv" lass="custom-file-input" id="mpa" #proteinreportfile-->
<!--           (change)="onCSVChange(proteinreportfile.files)"-->
<!--           class="custom-file-input">-->
<!--    &lt;!&ndash;-(click)="proteinreportfile.click()"&ndash;&gt;-->
<!--    <label *ngIf="!proteinReportFile" class="custom-file-label" for="mpa">Choose MPA file (.csv)</label>-->
<!--    <label *ngIf="proteinReportFile" class="custom-file-label" for="mpa">{{proteinReportFile.name}}</label>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Scaffold &ndash;&gt;-->
<!--<div-->
<!--  *ngIf="currentProphaneJob.parameters.reportStyle.valueString && currentProphaneJob.parameters.reportStyle.id == 2"-->
<!--  class="input-group mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text">Report file</span>-->
<!--  </div>-->
<!--  <div class="custom-file">-->
<!--    <input type="file" accept=".xls" class="custom-file-input" id="scaffold" #proteinreportfile-->
<!--           class="custom-file-input" (change)="onCSVChange(proteinreportfile.files)">-->
<!--    &lt;!&ndash;(click)="proteinreportfile.click()"&ndash;&gt;-->
<!--    <label *ngIf="!proteinReportFile" class="custom-file-label" for="scaffold">Choose Scaffold file-->
<!--      (.xls)</label>-->
<!--    <label *ngIf="proteinReportFile" class="custom-file-label"-->
<!--           for="scaffold">{{proteinReportFile.name}}</label>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Generic &ndash;&gt;-->
<!--<div-->
<!--  *ngIf="currentProphaneJob.parameters.reportStyle.valueString && currentProphaneJob.parameters.reportStyle.id == 3"-->
<!--  class="input-group mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text">Report file</span>-->
<!--  </div>-->
<!--  <div class="custom-file">-->
<!--    <input type="file" accept=".tsv,.txt" lass="custom-file-input" id="generic" #proteinreportfile-->
<!--           class="custom-file-input" (change)="onCSVChange(proteinreportfile.files)">-->
<!--    &lt;!&ndash;(click)="proteinreportfile.click()"&ndash;&gt;-->
<!--    <label *ngIf="!proteinReportFile" class="custom-file-label" for="generic">Choose Generic Report file-->
<!--      (.tsv, .txt)</label>-->
<!--    <label *ngIf="proteinReportFile" class="custom-file-label"-->
<!--           for="generic">{{proteinReportFile.name}}</label>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; mzTab &ndash;&gt;-->
<!--<div-->
<!--  *ngIf="currentProphaneJob.parameters.reportStyle.valueString && currentProphaneJob.parameters.reportStyle.id == 4"-->
<!--  class="input-group mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text">Report file</span>-->
<!--  </div>-->
<!--  <div class="custom-file">-->
<!--    <input type="file" accept=".mztab" class="custom-file-input" id="mztab" #proteinreportfile-->
<!--           class="custom-file-input" (change)="onCSVChange(proteinreportfile.files)">-->
<!--    &lt;!&ndash;(click)="proteinreportfile.click()"&ndash;&gt;-->
<!--    <label *ngIf="!proteinReportFile" class="custom-file-label" for="mztab">Choose MzTab file-->
<!--      (.mztab)</label>-->
<!--    <label *ngIf="proteinReportFile" class="custom-file-label"-->
<!--           for="mztab">{{proteinReportFile.name}}</label>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; mzIdent &ndash;&gt;-->
<!--<div-->
<!--  *ngIf="currentProphaneJob.parameters.reportStyle.valueString && currentProphaneJob.parameters.reportStyle.id == 5"-->
<!--  class="input-group mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text">Report file</span>-->
<!--  </div>-->
<!--  <div class="custom-file">-->
<!--    <input type="file" accept=".mzid" class="custom-file-input" id="mzident" #proteinreportfile-->
<!--           class="custom-file-input" (change)="onCSVChange(proteinreportfile.files)">-->
<!--    &lt;!&ndash;(click)="proteinreportfile.click()"&ndash;&gt;-->
<!--    <label *ngIf="!proteinReportFile" class="custom-file-label" for="mzident">Choose MzIdent2.0 file-->
<!--      (.mzid)</label>-->
<!--    <label *ngIf="proteinReportFile" class="custom-file-label"-->
<!--           for="mzident">{{proteinReportFile.name}}</label>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; proteome discoverer &ndash;&gt;-->
<!--<div-->
<!--  *ngIf="currentProphaneJob.parameters.reportStyle.valueString && currentProphaneJob.parameters.reportStyle.id == 6"-->
<!--  class="input-group mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text">Report file</span>-->
<!--  </div>-->
<!--  <div class="custom-file">-->
<!--    <input type="file" accept=".xlsx" class="custom-file-input" id="pd_xlsx" #proteinreportfile-->
<!--           class="custom-file-input" (change)="onCSVChange(proteinreportfile.files)">-->
<!--    &lt;!&ndash;(click)="proteinreportfile.click()"&ndash;&gt;-->
<!--    <label *ngIf="!proteinReportFile" class="custom-file-label" for="pd_xlsx">Choose Proteome Discoverer protein group excel file-->
<!--      (.xlsx)</label>-->
<!--    <label *ngIf="proteinReportFile" class="custom-file-label"-->
<!--           for="pd_xlsx">{{proteinReportFile.name}}</label>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Fasta &ndash;&gt;-->
<!--<div class="input-group mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text">FASTA file</span>-->
<!--  </div>-->
<!--  <div class="custom-file">-->
<!--    <input type="file" accept=".fasta,.faa,.fa" #fastafile-->
<!--           class="custom-file-input" id="fasta" (change)="onFastaChange(fastafile.files)">-->
<!--    &lt;!&ndash;(click)="fastafile.click()"&ndash;&gt;-->
<!--    <label *ngIf="!fastaFile" class="custom-file-label" for="fasta">Choose file (.fasta, .faa, .fa)</label>-->
<!--    <label *ngIf="fastaFile" class="custom-file-label" for="fasta">{{ fastaFile.name }}</label>-->
<!--    <mat-progress-bar *ngIf="fastaProgress > 0" mode="determinate"-->
<!--                      [value]="fastaProgress"></mat-progress-bar>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Exclude &ndash;&gt;-->
<!--<div class="input-group mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text">Exclude</span>-->
<!--  </div>-->
<!--  <mat-select class="custom-select" [(ngModel)]="currentProphaneJob.parameters.contaminationOption"-->
<!--              [compareWith]="compareByID"-->
<!--              (change)="setContaminationLabel(currentProphaneJob.parameters.contaminationOption)">-->
<!--    <mat-option *ngFor="let contitem of this.contoptions" [(value)]="contitem">{{contitem.name}}</mat-option>-->
<!--  </mat-select>-->
<!--  <div class="input-group-append">-->
<!--    <input-->
<!--      *ngIf="currentProphaneJob.parameters.contaminationOption && currentProphaneJob.parameters.contaminationOption.id == 1"-->
<!--      [ngStyle]="{'background-color': isString(currentProphaneJob.parameters.contaminationOption.label, 'cont_1') ? 'white' : formErrorColor }"-->
<!--      type="text"-->
<!--      class="form-control" [(ngModel)]="currentProphaneJob.parameters.contaminationOption.label"-->
<!--      placeholder="text"-->
<!--      (change)="setContaminationLabel(currentProphaneJob.parameters.contaminationOption.label)">-->
<!--    <input-->
<!--      *ngIf="currentProphaneJob.parameters.contaminationOption && currentProphaneJob.parameters.contaminationOption.id == 2"-->
<!--      [ngStyle]="{'background-color': isString(currentProphaneJob.parameters.contaminationOption.label, 'cont_2') ? 'white' : formErrorColor }"-->
<!--      type="text"-->
<!--      class="form-control" [(ngModel)]="currentProphaneJob.parameters.contaminationOption.label"-->
<!--      placeholder="text"-->
<!--      (change)="setContaminationLabel(currentProphaneJob.parameters.contaminationOption.label)">-->
<!--    <input-->
<!--      *ngIf="currentProphaneJob.parameters.contaminationOption && currentProphaneJob.parameters.contaminationOption.id == 3"-->
<!--      [ngStyle]="{'background-color': isString(currentProphaneJob.parameters.contaminationOption.label, 'cont_3') ? 'white' : formErrorColor }"-->
<!--      type="text"-->
<!--      class="form-control" [(ngModel)]="currentProphaneJob.parameters.contaminationOption.label"-->
<!--      placeholder="regular expression (PCRE)"-->
<!--      (change)="setContaminationLabel(currentProphaneJob.parameters.contaminationOption.label)">-->
<!--  </div>-->
<!--</div>-->
