<!--  Table  -->
<div class="flexbox-column protein-table">
  <div style="display: flex; display: flex; justify-content: space-between">
    <p style="font-weight: 400; margin: auto 0 auto 0">Protein Groups</p>
    <mat-button-toggle-group [(ngModel)]="mpaTableDataService.groupSelection" (change)="onGroupSelection()"
      style="height: fit-content; margin: auto" name="groupSelection" aria-label="Protein Group Selection">
      <mat-button-toggle style="font-size: 0.9rem" [value]="GroupSelection.MAINGROUPS">main-groups</mat-button-toggle>
      <mat-button-toggle style="font-size: 0.9rem" [value]="GroupSelection.SUBGROUPS">subgroups</mat-button-toggle>
      <mat-button-toggle style="font-size: 0.9rem"
        [value]="GroupSelection.HIERARCHICAL">hierarchical</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field style="width: 20%">
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div style="overflow-y: auto; height: 100%" class="table-border">
    <table mat-table style="width: 100%" [dataSource]="dataSource" multiTemplateDataRows>

      <ng-container matColumnDef="expandButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <ng-container
            *ngIf="this.mpaTableDataService.groupSelection === 'hierarchical' && this.getRowtype(row) === 'maingroup'">
            <button mat-icon-button (click)="onExpand(row)" [disabled]="row.hidden" style="height: 30px;">
              <mat-icon [@indicatorRotate]="row.proteinGroupID === expandedElement ? 'expanded': 'collapsed'">
                expand_more
              </mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="proteinGroupID">
        <th mat-header-cell *matHeaderCellDef>Protein Group ID</th>
        <td mat-cell *matCellDef="let row">{{row.proteinGroupID || row.proteinGroupID}}</td>
      </ng-container>

      <ng-container matColumnDef="groupType">
        <th mat-header-cell *matHeaderCellDef>Group Type</th>
        <td mat-cell *matCellDef="let row">{{this.getRowtype(row)}}</td>
      </ng-container>

      <ng-container matColumnDef="quantification">
        <th mat-header-cell *matHeaderCellDef>Quantification</th>
        <td mat-cell *matCellDef="let row">{{this.getQuantification(row)}}</td>
      </ng-container>

      <ng-container matColumnDef="representativeAccession">
        <th mat-header-cell *matHeaderCellDef>Accession</th>
        <td mat-cell *matCellDef="let row">{{row.representativeAccession}}</td>
      </ng-container>

      <ng-container matColumnDef="representativeDescription">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row">{{row.representativeAccession}}</td>
      </ng-container>

      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <button class="btn btn-primary protein-table-button" (click)="hideSelectedGroups()"><mat-icon>visibility_off</mat-icon></button>
            <button class="btn btn-primary protein-table-button" (click)="resetHiddenGroups()"><mat-icon>visibility</mat-icon></button>
            <mat-checkbox [(ngModel)]="selectedAll" (change)="onSelectAllGroups()"></mat-checkbox>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [(ngModel)]="row.isSelected" (change)="onSelectGroup(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td style="width: 100%; padding-left:0;padding-right:0;"
          [@detailExpand]="row.proteinGroupID === expandedElement ? 'expanded' : 'collapsed'" mat-cell
          *matCellDef="let row" [attr.colspan]="displayedColumns.length">
          <div
            *ngIf="this.mpaTableDataService.groupSelection === 'hierarchical' && this.getRowtype(row) === 'maingroup' && row.proteinGroupID === expandedElement">
            <table style="width:100%;">
              <tr *ngFor="let subrow of row.proteinSubGroupList" (click)="onClick(subrow)" [ngClass]="{
                'table-highlight-row': mpaTableDataService.highlightIfSelected(subrow),
                'table-element-row': !mpaTableDataService.highlightIfSelected(subrow),
                'subgroup-row': mpaTableDataService.groupSelection === 'hierarchical' && subrow.parentProteinGroupID,
                'checkbox-selected': subrow.isSelected
                }">
                <td class="mat-column-expandButton" style="padding-left: 24px;"></td>
                <td class="mat-column-proteinGroupID">{{subrow.proteinGroupID}}</td>
                <td class="mat-column-groupType">{{this.getRowtype(subrow)}}</td>
                <td class="mat-column-quantification">{{this.getQuantification(subrow)}}</td>
                <td class="mat-column-representativeAccession">{{subrow.accession}}</td>
                <td class="mat-column-representativeDescription">{{subrow.description}}</td>
                <td class="mat-column-checkbox" style="padding-right: 24px;"><mat-checkbox
                    [(ngModel)]="subrow.isSelected"></mat-checkbox></td>
              </tr>
            </table>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClick(row)" [hidden]="mpaTableDataService.groupSelection === 'hierarchical' &&
           row.parentProteinGroupID &&
           row.parentProteinGroupID !== expandedElement" class="group-row" [ngClass]="{
               'table-highlight-row': mpaTableDataService.highlightIfSelected(row),
               'table-element-row': !mpaTableDataService.highlightIfSelected(row),
               'subgroup-row': mpaTableDataService.groupSelection === 'hierarchical' && row.parentProteinGroupID,
               'checkbox-selected': row.isSelected
               }">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
        [hidden]="mpaTableDataService.groupSelection !== 'hierarchical'" class="table-detail-row">
      </tr>
    </table>

    <!--    [@detailExpand]="row.parentProteinGroupID == expandedElement.proteinGroupID ? 'expanded' : 'collapsed'"-->
    <!--    [class.example-expanded-row]="expandedElement === row"-->
    <!--    [ngClass]="{'table-hidden-row': true}"-->
    <!--    (click)="expandedElement = expandedElement === row ? null : row"-->
  </div>
  <div style="display:flex;flex-direction: row; justify-content: space-between; width: 100%; align-items: center; ">
    <div>
      <button class="btn btn-primary rki-blue-bg protein-table-button" (click)="downloadProteinTable()">Export</button>
    </div>
    <mat-paginator #paginator style="background: none;" [pageSizeOptions]="[5,10,25,100]"
      showFirstLastButtons></mat-paginator>
  </div>
</div>

<div class="flexbox-column">
  <cdk-accordion>
    <cdk-accordion-item [expanded]="false" #accordionItem="cdkAccordionItem" role="button" tabindex="0"
      [attr.id]="'accordion-header'" [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body'" class="details-accordion-item">

      <div (click)="accordionItem.toggle()" class="details-accordion-item-header">
        <p style="font-weight: 400; margin: 0">
          {{
          (accordionItem.expanded ? "displaying group " : "show details for group ")
          }}{{mpaTableDataService.selectedProteinGroup.value.proteinGroupID}}
        </p>
      </div>

      <ng-container *ngIf="showDetails">
        <div class="details-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body'" [attr.aria-labelledby]="'accordion-header'">
          <app-proteingroup-detail-view class="detail-table"
            style="min-height: 0; min-width: 0; display: flex; flex-direction: column">
          </app-proteingroup-detail-view>
        </div>
      </ng-container>

    </cdk-accordion-item>
  </cdk-accordion>
</div>