<div class="jobCards responsive-job-card">
  <div class="card min-w-600">
    <div class="card-header">
      <h5>User</h5>
    </div>
    <div class="card-body">
      <div class="input-group mb-3 ng-star-inserted">
        <div>
          <button class="btn btn-primary rki-blue-bg" (click)='onAddFolder()'>Add Folder</button>
        </div>
      </div>
      <table class="table .table-light table-hover">
        <thead></thead>
        <tbody>
        <tr>
          <th scope="row" class="ml-summary-col">
            Folders:
          </th>
          <td>
            <ng-container *ngIf="folders.length !== 0">
              <mat-list *ngFor="let name of folders" dense>
                <mat-list-item> {{name}} </mat-list-item>
              </mat-list>
            </ng-container>
            <ng-container *ngIf="folders.length === 0">
              <p>No Folders</p>
            </ng-container>
          </td>
        </tr>
        <tr>
          <th scope="row" class="ml-summary-col">
            Experiments:
          </th>
          <td>
            <ng-container *ngIf="experiments.length !== 0">
              <mat-list *ngFor="let name of experiments" dense>
                <mat-list-item> {{name}} </mat-list-item>
              </mat-list>
            </ng-container>
            <ng-container *ngIf="experiments.length === 0">
              <p>No Experiments</p>
            </ng-container>
          </td>
        </tr>
        <tr>
          <th scope="row" class="ml-summary-col">
            Protein Data Bases:
          </th>
          <td>
            <ng-container *ngIf="proteinDB.length !== 0">
              <mat-list *ngFor="let name of proteinDB" dense>
                <mat-list-item> {{name}} </mat-list-item>
              </mat-list>
            </ng-container>
            <ng-container *ngIf="proteinDB.length === 0">
              <p>No Protein Databases</p>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

