<div class="jobCards" style="width: 100%; flex-basis: auto; flex-shrink: 1">
    <div class="card min-w-600" >
      <div class="card-header">
        <h5>User</h5>
      </div>
      <div class="card-body">
        <div class="input-group mb-3 ng-star-inserted">
          <div>
            <button class="btn btn-primary rki-blue-bg" (click)='onAddFolder()'>Add Folder</button>
          </div>
        </div>
        <table class="table .table-light table-hover">
          <thead></thead>
          <tbody>
          <tr>
            <th scope="row" class="ml-summary-col">
              Folders:
            </th>
            <td>
              <mat-list dense>
                <mat-list-item> Folder 1 </mat-list-item>
                <mat-list-item> Folder 2 </mat-list-item>
                <mat-list-item> Folder 3 </mat-list-item>
              </mat-list>
            </td>
          </tr>
          <tr>
            <th scope="row" class="ml-summary-col">
              Experiments:
            </th>
            <td>
              List of Experiments <br>
              <mat-list dense>
                <mat-list-item> Exp 1 </mat-list-item>
                <mat-list-item> Exp 2 </mat-list-item>
                <mat-list-item> Exp 3 </mat-list-item>
              </mat-list>
              Uploaded Data Sets <br>
              <mat-list dense>
                <mat-list-item> Data Set 1 </mat-list-item>
                <mat-list-item> Data Set 2 </mat-list-item>
                <mat-list-item> Data Set 3 </mat-list-item>
                <mat-list-item> Data Set 4 </mat-list-item>
              </mat-list>
              <p>Storage Space: 4/5 GB <p>
            </td>
          </tr>
          <tr>
            <th scope="row" class="ml-summary-col">
              Protein Data Bases:
            </th>
            <td>
              <mat-list dense>
                <mat-list-item> Database 1 </mat-list-item>
                <mat-list-item> Database 2 </mat-list-item>
                <mat-list-item> Database 3 </mat-list-item>
              </mat-list>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

