<a mat-list-item [ngStyle]="{'padding-left': node.hasChildren ? (node.depth * 6) + 'px' : (node.depth * 6 + 42) + 'px'}">
  <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="center center">
    <div *ngIf="node.hasChildren">
      <button mat-icon-button (click)="onExpand($event, item)">
          <mat-icon [@indicatorRotate]="node.expanded ? 'expanded': 'collapsed'">
          expand_more
          </mat-icon>
      </button>
    </div>
    <button mat-button fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="center center" (click)="onNavigate($event, item)">
      <mat-icon class="routeIcon">{{node.icon}}</mat-icon>
      {{node.displayName}}
    </button>
  </div>
</a>
