.protein-details-tabs {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.protein-detail-window {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 1%;
  height: 100%
}

.protein-detail-window.left {
  flex-basis: 50%;
  min-width: 0
}

.protein-detail-window.right {
  flex-basis: 50%;
  min-width: 0
}

.mpa-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
