<div
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [class.dropfield.drag-over]="isDragOver"
>
  <!-- Drag and Drop Instruction Text -->
  <div class="file-selection-row">
    <div *ngIf="selectedFiles.length == 0" class="drag-drop-text">
      Drag and Drop Files Here
    </div>
    <button class="file-chooser-button" (click)="fileInput.click()">
      <mat-icon>upload</mat-icon> Choose Files
    </button>
  </div>
  <div>Files must have an {{ acceptedDataTypes }} extension.</div>
  <!-- File Upload Button -->
  <input
    #fileInput
    type="file"
    [accept]="acceptedDataTypes"
    multiple
    (change)="onFilesSelected($event)"
    style="display: none"
  />

  <!-- List of Selected Files -->

  <table *ngIf="categorizedRows.length > 0">
    <thead>
      <tr>
        <th *ngFor="let fileType of getObjectKeys(acceptedFileRegex)">
          {{ fileType | uppercase }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowData of categorizedRows">
        <td *ngFor="let file of getObjectKeys(acceptedFileRegex)">
          <!-- Apply the click event and conditional class directly to the div -->
          <div
            *ngIf="rowData[file]"
            (click)="
              toggleFileSelection(rowData[file].processedInfo.id, $event)
            "
            [class.selected]="
              selectedFileIds.has(rowData[file].processedInfo.id)
            "
          >
            {{ rowData[file].file.name }}
          </div>
          <!-- Provide an empty placeholder if no file is present -->
          <div *ngIf="!rowData[file]">no file</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
