<div
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [class.dropfield.drag-over]="isDragOver"
>
  <!-- Drag and Drop Instruction Text -->
  <div class="file-selection-row">
    <div *ngIf="selectedFiles.length == 0" class="drag-drop-text">
      Drag and Drop Files Here
    </div>
    <button class="file-chooser-button" (click)="fileInput.click()">
      <mat-icon>upload</mat-icon> Choose Files
    </button>
  </div>
  <div>Files must have an {{ acceptedDataTypes }} extension.</div>
  <!-- File Upload Button -->
  <input
    #fileInput
    type="file"
    [accept]="acceptedDataTypes"
    multiple
    (change)="onFilesSelected($event)"
    style="display: none"
  />

  <!-- List of Selected Files -->

  <!-- <div>
    <div *ngFor="let category of categorizedFiles | keyvalue">
      <h1>{{ category.key }}</h1>

      <div *ngFor="let fileGroup of category.value | keyvalue">
        <ul>
          <li *ngFor="let file of fileGroup.value">
            {{ file.name }} {{ fileGroup.key | uppercase }}

            <button
              mat-mini-fab
              color="warn"
              (click)="deleteFile(file)"
              class="delete-button"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
</div>
