.dropfield.drag-over {
  /* Example styles for when dragging over */
  border-color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

.file-selection-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drag-drop-text {
  flex: 1; /* Allows the text to expand and take available space */
  text-align: left;
  margin-right: 10px; /* Adjust spacing between text and button as needed */
}

/* file-upload.component.scss */

.files-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.file-type-column {
  float: left;
  width: 20%; /* Adjust width as necessary */
  padding: 10px;
  box-sizing: border-box;
  /* Add more styles as needed */
}
