<div class="documentation-content-container">
  <section class="mat-typography">
    <h2>Preprocessing Input</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus
      in, vero illum sit labore rem fuga sequi aliquid sapiente nisi, modi
      praesentium omnis illo placeat eius amet quidem non.
    </p>
  </section>

  <div class="outer-form-container">
    <form [formGroup]="formModel" (ngSubmit)="submitPreprocessingConfig()">
      <div class="inner-form-container">
        <mat-form-field appearance="outline">
          <mat-label>control group</mat-label>
          <mat-select formControlName="controlGroup">
            <mat-option [value]="controlGroupName">
              {{ controlGroupName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>test group</mat-label>
          <mat-select formControlName="testGroup">
            <mat-option
              *ngFor="let option of testGroupOptions"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>repeats</mat-label>
          <input type="number" matInput formControlName="repeats" />
          <mat-error *ngIf="formModel.get('repeats').invalid">{{
            getErrorMessage(formModel.get("repeats"))
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>folds</mat-label>
          <input type="number" matInput formControlName="folds" />
          <mat-error *ngIf="formModel.get('folds').invalid">{{
            getErrorMessage(formModel.get("folds"))
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-button-grid">
        <button
          class="col-span-2"
          [disabled]="!formModel.valid"
          mat-flat-button
          color="primary"
        >
          Next
        </button>
      </div>
    </form>
  </div>
</div>
