::ng-deep .mat-expansion-panel-header{
    font-size: 20;
    font-weight: bold;
}
::ng-deep .mat-expansion-panel.mat-expanded,
::ng-deep .mat-expansion-panel:hover{
    font-size: 20;
    font-weight: bold;
    color: white;
    background-color: #7986cb;
}
::ng-deep .mat-expansion-panel-body {
    background-color: #e8eaf6;
    color: black;
    text-align: left;
  }
  
.img-fluid{
    max-width: 20%;
    height: auto;
}

.tutorial{
    background-color: #d5c0f4
}

.instruction{
    background-color: whitesmoke
}

.nb_list{
    list-style-type: none;
    margin-left: 20px;
}

.bullet_list{
    list-style-type: disc;
    margin-left: 20px;
}

.bold{
    font-weight: bold;
}