<!-- <mat-tab-group
  #tabs
  dynamicHeight
  mat-stretch-tabs="true"
  mat-align-tabs="center"
  animationDuration="1000ms"
>
  <mat-tab label="input">
    <ofs-overview-input (submit)="switchToResults()"></ofs-overview-input>
  </mat-tab>
  <mat-tab label="overview">
    <ofs-overview-results></ofs-overview-results>
  </mat-tab>
</mat-tab-group> -->

<div class="workflow-content-container">
  <div class="col-span-1">
    <ofs-overview-input (submit)="switchToResults()"></ofs-overview-input>
  </div>
  <div class="col-span-1">
    <ofs-overview-results></ofs-overview-results>
  </div>
</div>
