<div *ngIf="this.progress < 100">
  <div class="uploadprogress">
    <div class="mt-5 center">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="uploadprogresstext" style="margin-left: -75px; margin-top: 45px; ">{{this.progress}}%</div>
  </div>
  <div class="mt-5 uploadprogresstext">uploading ...</div>
</div>
<div *ngIf="this.progress >= 100">
  <div class="uploadprogress">
    <div class="mt-5 center">
      <img src="assets/img/sucess-icon.png" alt="success" width="150" height="150">
    </div>
  </div>
  <div class="mt-5 uploadsuccesstext">Job successfully submitted</div>
  <div class="mt-5 uploadsuccesstext">
    <button mat-raised-button routerLink="." (click)="closeAndRedirect()">Ok</button>
  </div>
</div>
