<button mat-button (click)="addFolder()">
  Create folder
  <mat-icon class="mat-icon-rtl-mirror">create_new_folder</mat-icon>
</button> <br>
<button mat-button (click)="addExperiment()">
  Create experiment
  <mat-icon class="mat-icon-rtl-mirror">create</mat-icon>
</button>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <app-node [id]='node.id'></app-node>
    <button mat-icon-button (click)="deleteNode(node)">
      <mat-icon class="mat-icon-rtl-mirror">close</mat-icon>
    </button>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button
            [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <app-node [id]='node.id'></app-node>
    <mat-progress-bar *ngIf="node.isLoading"
                      mode="indeterminate"
                      class="example-tree-progress-bar"></mat-progress-bar>
    <button mat-icon-button disabled></button>
  </mat-tree-node>
</mat-tree>