/* You can add global styles to this file, and also import other style files */
@import '~rki_blue_bright.css';
@import '~node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
}

.mat-tab-label, .mat-tab-label-active{
  min-width: 10%!important;
  flex-grow: 1;
  flex-shrink: 1;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.divider-line {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem 0 0.75rem 0;
  color: #495057;
}

.divider-line::after{
  content: '';
  height: 1px;
  background-color: rgba(0,0,0,.125);
  flex-grow: 1;
  margin-left: 0.2rem;
}

custom-table-warning {
  background-color: #f8d7da;
}

.responsive-job-card {
  width: 100%;
  /*flex-shrink: 1;*/
  /*flex-grow: 1;*/
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.content-grid-container {
  height: 100%;
  box-sizing: border-box;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: [left] minmax(250px, 1fr) [center-left] minmax(600px, 2fr) [center-right] 1fr [right];
  grid-gap: 1rem;
  justify-items: stretch;
}

.centerd-grid {
  height: 100%;
  display: grid;
  grid-template-columns: [left] 1fr [center-left] minmax(600px, 2fr) [center-right] 1fr [right];
  grid-template-rows: [top] 1fr [upper-center] minmax(200px, 2fr) [lower-center] 1fr [bottom];
}

.centered-item {
  grid-column-start: center-left;
  grid-row-start: upper-center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.horizontally-centered-item {
  grid-column-start: center-left;
}

.min-width-25 {
  min-width: 25%;
}
