/* For use in src/lib/core/theming/_palette.scss */
$md-mdoagreen: (
  50: #eafef8,
  100: #cafdee,
  200: #a6fbe3,
  300: #82f9d7,
  400: #68f8cf,
  500: #4df7c6,
  600: #46f6c0,
  700: #3df5b9,
  800: #34f3b1,
  900: #25f1a4,
  A100: #ffffff,
  A200: #f8fffc,
  A400: #c5ffe8,
  A700: #acffde,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
