$md-rkiblue: (
    50 : #e0e8f3,
    100 : #b3c5e0,
    200 : #809fcb,
    300 : #4d79b6,
    400 : #265ca7,
    500 : #003f97,
    600 : #00398f,
    700 : #282f3b,
    800 : #00297a,
    900 : #001b69,
    A100 : #98a9ff,
    A200 : #657fff,
    A400 : #3255ff,
    A700 : #193fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
