<!-- SELECT FASTA -->
<!--<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">-->
<div fxFlex>
  <!--  <button mat-raised-button color="primary" mat-raised-button (click)="killAllJobs()">Kill All Jobs</button> -->
  <mat-tab-group>
    <mat-tab label="Job Submission">
      <h1>Some tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="Job Control">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="About">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>




  <mat-vertical-stepper>
    <!-- STEP 1: Input -->
    <mat-step label="Input">
      <div class="card w-50" style="margin-left: 200px;">
        <div class="card-header">
          <h5>Input<span class="card-title-button-wrapper"><mat-slide-toggle color>expert</mat-slide-toggle></span></h5>
        </div>
        <div class="card-body">

          <!-- Source selection -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="sourceSelect">Source</label>
            </div>
            <mat-select class="custom-select" [(value)]="selectedLevel" id="sourceSelect" (selectionChange)="onSourceChange()">
              <mat-option *ngFor="let typeitem of leveldata" [value]="typeitem">{{typeitem.name}}</mat-option>
            </mat-select>
          </div>

          <!-- MPA -->
          <div *ngIf="selectedLevel != undefined && selectedLevel.id == 0" class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Report file</span>
            </div>
            <div class="custom-file">
              <input type="file" accept=".csv"  lass="custom-file-input" id="mpa" #proteinreportfile (change)="onCSVChange(proteinreportfile.files)" class="custom-file-input" (click)="proteinreportfile.click()">
              <label *ngIf="!proteinReportFile" class="custom-file-label" for="mpa">Choose MPA file (.csv)</label>
              <label *ngIf="proteinReportFile" class="custom-file-label" for="mpa">{{proteinReportFile.name}}</label>
            </div>
          </div>

          <!-- Scaffold -->
          <div *ngIf="selectedLevel != undefined && selectedLevel.id == 1" class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Report file</span>
            </div>
            <div class="custom-file">
              <input type="file" accept=".xls"  lass="custom-file-input" id="scaffold" #proteinreportfile (change)="onCSVChange(proteinreportfile.files)" class="custom-file-input" (click)="proteinreportfile.click()">
              <label *ngIf="!proteinReportFile" class="custom-file-label" for="scaffold">Choose Scaffold file (.xls)</label>
              <label *ngIf="proteinReportFile" class="custom-file-label" for="scaffold">{{proteinReportFile.name}}</label>
            </div>
          </div>

          <!-- Generic -->
          <div *ngIf="selectedLevel != undefined && selectedLevel.id == 2" class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Report file</span>
            </div>
            <div class="custom-file">
              <input type="file" accept=".tsv,.txt"  lass="custom-file-input" id="generic" #proteinreportfile (change)="onCSVChange(proteinreportfile.files)" class="custom-file-input" (click)="proteinreportfile.click()">
              <label *ngIf="!proteinReportFile" class="custom-file-label" for="generic">Choose Generic Report file (.tsv, .txt)</label>
              <label *ngIf="proteinReportFile" class="custom-file-label" for="generic">{{proteinReportFile.name}}</label>
            </div>
          </div>

          <!-- Fasta -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">FASTA file</span>
            </div>
            <div class="custom-file">
              <input type="file" accept=".fasta,.faa" #fastafile (change)="onFastaChange(fastafile.files)"
                     class="custom-file-input" id="fasta" (click)="fastafile.click()">
              <label *ngIf="!fastaFile" class="custom-file-label" for="fasta">Choose file (.fasta, .faa)</label>
              <label *ngIf="fastaFile" class="custom-file-label" for="fasta">{{ fastaFile.name }}</label>
              <mat-progress-bar *ngIf="fastaProgress > 0" mode="determinate" [value]="fastaProgress"></mat-progress-bar>
            </div>
          </div>

          <!-- Exclude -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Exclude</span>
            </div>
            <mat-select class="custom-select" [(value)]="selectedContaminationOption">
              <mat-option *ngFor="let contitem of contaminationdata" [value]="contitem">{{contitem.name}}</mat-option>
            </mat-select>
            <input *ngIf="selectedContaminationOption != undefined && selectedContaminationOption.id < 2" type="text" class="form-control" value="text">
            <input *ngIf="selectedContaminationOption != undefined && selectedContaminationOption.id == 2" type="text" class="form-control" value="regular rexpression">
            <input *ngIf="selectedContaminationOption != undefined && selectedContaminationOption.id == 3" type="text" class="form-control" [disabled]="true">

          </div>
        </div>
      </div>

    </mat-step>
    <mat-step label="Annotation 1">
      Content 2
    </mat-step>
    <mat-step label="Annotation 2">
      Content 2
    </mat-step>
    <mat-step label="Submit">
      Content 2
    </mat-step>
  </mat-vertical-stepper>


  <mat-form-field>
    <mat-select [(value)]="selectedContaminationOption">
      <mat-option *ngFor="let contitem of contaminationdata" [value]="contitem">{{contitem.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Accession</mat-label>
    <input matInput [(ngModel)]="contAccession" value="{{ contAccession }}">
  </mat-form-field>


  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-title>Prophane job page</mat-card-title>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" mat-raised-button (click)="fastafile.click()">Choose FASTA file
        </button>
        <input hidden type="file" accept=".fasta" #fastafile (change)="onFastaChange(fastafile.files)"/>
        <div *ngIf="fastaFile">
          <p>{{ fastaFile.name }}</p>
          <mat-progress-bar *ngIf="fastaProgress > 0" mode="determinate" [value]="fastaProgress"></mat-progress-bar>
        </div>
        <div *ngIf="!fastaFile">
          <p>No FASTA selected</p>
        </div>
      </div>

      <!-- SELECT TYPE -->
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Select Input Type (Origin of data)</mat-label>
          <mat-select [(value)]="selectedLevel">
            <mat-option *ngFor="let typeitem of typedata" [value]="typeitem">{{typeitem.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- SELECT INPUT -->
      <div *ngIf="selectedLevel != undefined && selectedLevel.id == 0" fxLayout="row" fxLayoutGap="20px"
           fxLayoutAlign="center center">
        <button mat-raised-button color="primary" mat-raised-button (click)="csvfile.click()">Choose MPA CSV
          file
        </button>
        <input hidden type="file" accept=".csv" #csvfile (change)="onCSVChange(csvfile.files)"/>
        <div *ngIf="proteinReportFile">
          <p>{{ proteinReportFile.name }}</p>
          <mat-progress-bar *ngIf="csvProgress > 0" mode="determinate" [value]="csvProgress"></mat-progress-bar>
        </div>
        <div *ngIf="!proteinReportFile">
          <p>No CSV file selected</p>
        </div>
      </div>
      <div *ngIf="selectedLevel != undefined && selectedLevel.id == 1" fxLayout="row" fxLayoutGap="20px"
           fxLayoutAlign="center center">
        <button mat-raised-button color="primary" mat-raised-button (click)="csvfile.click()">Choose Scaffold
          XLS file
        </button>
        <input hidden type="file" accept=".xls" #csvfile (change)="onCSVChange(csvfile.files)"/>
        <div *ngIf="proteinReportFile">
          <p>{{ proteinReportFile.name }}</p>
          <mat-progress-bar *ngIf="csvProgress > 0" mode="determinate" [value]="csvProgress"></mat-progress-bar>
        </div>
        <div *ngIf="!proteinReportFile">
          <p>No XLS file selected</p>
        </div>
      </div>

      <div *ngIf="selectedLevel != undefined && selectedLevel.id == 2" fxLayout="row" fxLayoutGap="20px"
           fxLayoutAlign="center center">
        <button mat-raised-button color="primary" mat-raised-button (click)="csvfile.click()">Choose TSV file
          (generic format)
        </button>
        <input hidden type="file" accept=".tsv" #csvfile (change)="onCSVChange(csvfile.files)"/>
        <div *ngIf="proteinReportFile">
          <p>{{ proteinReportFile.name }}</p>
          <mat-progress-bar *ngIf="csvProgress > 0" mode="determinate" [value]="csvProgress"></mat-progress-bar>
        </div>
        <div *ngIf="!proteinReportFile">
          <p>No TSV file selected</p>
        </div>
      </div>

      <!--        <div *ngIf="selectedLevel != undefined && selectedLevel.id == 3" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" mat-raised-button (click)="pdxmlFile.click()">Choose TSV file (generic
                  format)</button>
                <input hidden type="file" accept=".tsv" #csvfile (change)="onCSVChange(pdxmlFile.files)" />
                <div *ngIf="pdxmlFile">
                  <p>{{ pdxmlFile.name }}</p>
                  <mat-progress-bar *ngIf="csvProgress > 0" mode="determinate" [value]="pdxmlFile"></mat-progress-bar>
                </div>
                <div *ngIf="!pdxmlFile">
                  <p>No TSV file selected</p>
                </div>

                <button mat-raised-button color="primary" mat-raised-button (click)="pdtxtFile.click()">Choose TSV file (generic
                  format)</button>
                <input hidden type="file" accept=".tsv" #csvfile (change)="onCSVChange(pdtxtFile.files)" />
                <div *ngIf="pdtxtFile">
                  <p>{{ pdtxtFile.name }}</p>
                  <mat-progress-bar *ngIf="csvProgress > 0" mode="determinate" [value]="pdxmlFile"></mat-progress-bar>
                </div>
                <div *ngIf="!pdtxtFile">
                  <p>No TSV file selected</p>
                </div>
              </div>-->

      <!-- CONTAMINATION LEVEL -->
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">

        <p>Contamination Label</p>

        <mat-form-field>
          <mat-select [(value)]="selectedContaminationOption">
            <mat-option *ngFor="let contitem of contaminationdata" [value]="contitem">{{contitem.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Accession</mat-label>
          <input matInput [(ngModel)]="contAccession" value="{{ contAccession }}">
        </mat-form-field>
      </div>

      <!-- JOB MANAGEMENT -->
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" [disabled]="!(proteinReportFile && fastaFile)"
                  (click)="requestNewJob()">New
            Prophane Job
          </button>
        </div>
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" [disabled]="prophaneJobReady" (click)="startButton()">Start
            Job
          </button>
        </div>
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="requestStatus()">Get Status</button>
          <div *ngIf='downloadReady; else statusdisplay'>
            <button mat-raised-button color="primary" (click)="downloadProphaneResult()">Download Result</button>

            <!--<div *ngIf="fileUrl">
              <a href="{{fileUrl}}" name="downloadLink">Download</a>
            </div>-->
          </div>
          <ng-template #statusdisplay>{{statusDisplayString}}</ng-template>
          <!--{{statusDisplayString}}-->
        </div>

      </div>
    </mat-card>
  </div>

  <!-- ADVANCED OPTIONS -->
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <button mat-icon-button (click)='toggleAdvancedOptions()'>
      <mat-icon aria-label="test icon">control_point</mat-icon>
    </button>
    <h3>Advanced Options</h3>
  </div>

  <div fxLayout="column" *ngIf="showadvanced" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div>
      <mat-card>
        <!-- LABEL -->
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <mat-form-field>
            <mat-label>Job Label</mat-label>
            <input matInput [(ngModel)]="jobLabel" value="{{ jobLabel }}">
          </mat-form-field>
        </div>

        <!-- QUANT METHOD -->
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <mat-form-field>
            <mat-label>Select Quantification Method</mat-label>
            <mat-select (value)="selectedQuant">
              <mat-option *ngFor="let quantitem of quantdata" [value]="quantitem">{{quantitem.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    <!-- SAMPLE GROUPS -->
    <div>
      <mat-card>
        <mat-card-title>Sample Groups</mat-card-title>
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
          <div *ngFor="let groupitem of sampleGroups">
            <div>
              <mat-form-field>
                <mat-label>Group Name</mat-label>
                <input matInput [(ngModel)]="groupitem.groupname" value="{{ groupitem.groupname }}">
              </mat-form-field>
              <button mat-icon-button (click)='removeSampleGroup(groupitem)'>
                <mat-icon aria-label="test icon">remove</mat-icon>
              </button>
            </div>
            <div *ngFor="let groupelement of groupitem.groupmembers">
              <mat-form-field>
                <mat-label>Group Member</mat-label>
                <input matInput [(ngModel)]="groupelement" value="{{ groupelement }}">
              </mat-form-field>
              <button mat-icon-button (click)='removeGroupMember(groupelement, groupitem)'>
                <mat-icon aria-label="test icon">remove</mat-icon>
              </button>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Group Member</mat-label>
                <input matInput [(ngModel)]="newGroupMember" value="{{ newGroupMember }}">
              </mat-form-field>
              <button mat-icon-button (click)='addNewGroupMember(newGroupMember, groupitem)'>
                <mat-icon aria-label="test icon">add</mat-icon>
              </button>
            </div>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Group Name</mat-label>
              <input matInput [(ngModel)]="newGroupItem.groupname" value="{{ newGroupItem.groupname }}">
            </mat-form-field>
            <button mat-icon-button (click)='addSampleGroup()'>
              <mat-icon aria-label="test icon">add</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>

    <!-- ANNOTATION TASKS -->
    <div>
      <mat-card>
        <mat-card-title>Annotation Tasks</mat-card-title>
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
          <div *ngFor="let task of annotationTasks; let i = index">
            <div>
              Annotation Task {{ i + 1 }}
              <button mat-icon-button (click)='removeAnnotationTask(task)'>
                <mat-icon aria-label="test icon">remove</mat-icon>
              </button>
            </div>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
              <!-- scope -->
              <mat-form-field>
                <mat-label>Scope</mat-label>
                <mat-select [(value)]="task.scope">
                  <mat-option *ngFor="let scope of scopetdata" [value]="scope.name">{{scope.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <!-- database -->
              <mat-form-field>
                <mat-label>Database</mat-label>
                <mat-select [(value)]="task.database">
                  <ng-container *ngFor="let dbitem of databaseOptions">
                    <mat-option *ngIf="dbitem.scope == task.scope" [value]="dbitem.database">
                      {{dbitem.database}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <!-- database version -->
              <mat-form-field>
                <mat-label>Database</mat-label>
                <mat-select [(value)]="task.databaseversion">
                  <mat-option value="'latest'">latest</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
              <!-- algorithm -->
              <mat-form-field>
                <mat-label>Algorithm</mat-label>
                <mat-select [(value)]="task.algorithm" (selectionChange)="setDefaultOptionString($event, task)">
                  <ng-container *ngFor="let dbitem of databaseOptions">
                    <ng-container *ngIf="dbitem.scope == task.scope && dbitem.database == task.database">
                      <ng-container *ngFor="let algo of dbitem.algorithm">
                        <mat-option [value]="algo">
                          {{algo}}</mat-option>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <!-- option string -->
              <mat-form-field>
                <mat-label>Option String</mat-label>
                <input matInput [(ngModel)]="task.optionstring">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
              <mat-form-field>
                <mat-label>Evalue</mat-label>
                <input matInput [(ngModel)]="task.evalue" value="{{ task.evalue }}">
              </mat-form-field>
              <mat-form-field>
                <mat-select [(value)]="task.evalue" placeholder="Custom">
                  <mat-option *ngFor="let evalueRange of evalueOptions"
                              [value]="evalueRange.numerical">{{ evalueRange.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Task label</mat-label>
                <input matInput [(ngModel)]="task.tasklabel">
              </mat-form-field>
            </div>
          </div>

          <!-- New Task -->
          <div>
            Annotation Task {{ this.taskCounter }}
            <button mat-icon-button (click)='addAnnotationTask(newAnnotationTask)'>
              <mat-icon aria-label="test icon">add</mat-icon>
            </button>
          </div>
          <!-- copy from above -->
        </div>
      </mat-card>
    </div>
    <!--show advanced-->
  </div>
  <!-- Flex -->
</div>

<!--
<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
  <mat-slider min="1" max="5" step="0.5" [(value)]="slidervalue"></mat-slider>
</div>
{{ slidervalue }}-->


<!--  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div class="mdc-text-field mdc-text-field&#45;&#45;outlined">
      <input type="text" id="tf-outlined-2" class="mdc-text-field__input">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="tf-outlined" class="mdc-floating-label">New Annotation Task</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <button mat-icon-button (click)='addAnnotationTask()'>
      <mat-icon aria-label="test icon">add</mat-icon>
    </button>
    <button mat-icon-button (click)='removeAnnotationTask()'>
      <mat-icon aria-label="test icon">remove</mat-icon>
    </button>
  </div>

  <i class="mdc-select__dropdown-icon" name="typeselector"></i>
  <select class="mdc-select__native-control" [(ngModel)]="selectedScope">>
    <option value="" disabled selected></option>
    <option *ngFor="let scopeitem of scopetdata" [ngValue]="scopeitem">{{scopeitem.name}}</option>
  </select>
  <label class="mdc-floating-label">Select Scope</label>
  <div class="mdc-line-ripple"></div>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
  </div>-->

<!-- ADVANCED OPTIONS -->

<!--<p>{{jobLabel}}</p>
<p>{{contAccession}}</p>
<p>{{selectedContaminationOption.name}}</p>
<p>{{newAnnotationTask.scope}}</p>
&lt;!&ndash;<p>{{newAnnotationTask.displayName}}</p>&ndash;&gt;

<div *ngIf="selectedLevel != undefined && selectedLevel.id == 0">
  <p>0 MPA</p>
</div>
<div *ngIf="selectedLevel != undefined && selectedLevel.id == 1">
  <p>1 Scaffold</p>
</div>
<div *ngIf="selectedLevel != undefined && selectedLevel.id == 2">
  <p>2 Generic</p>
</div>
<div *ngIf="selectedLevel != undefined && selectedLevel.id == 3">
  <p>3 PD</p>
</div>-->

<!--<p *ngIf="currentProphaneParameters && currentProphaneParameters.prophaneJobUUID">Current job ID: {{ currentProphaneParameters.prophaneJobUUID }}</p>-->
