<!-- SELECT FASTA -->
<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Prophane job page</mat-card-title>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" mat-raised-button (click)="fastafile.click()">Choose FASTA file</button>
      <input hidden type="file" accept=".fasta" #fastafile (change)="onFastaChange(fastafile.files)" />
      <div *ngIf="fastaFile">
        <p>{{ fastaFile.name }}</p>
        <mat-progress-bar *ngIf="fastaProgress > 0" mode="determinate" [value]="fastaProgress"></mat-progress-bar>
      </div>
      <div *ngIf="!fastaFile">
        <p>No FASTA selected</p>
      </div>
    </div>

    <br>

    <!-- SELECT TYPE -->
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <mat-form-field>
        <mat-label>Select Input Type (Origin of data)</mat-label>
        <mat-select [(value)]="selectedLevel">
          <mat-option *ngFor="let typeitem of typedata" [value]="typeitem">{{typeitem.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <!-- SELECT INPUT -->
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <div *ngIf="selectedLevel != undefined && selectedLevel.id == 0">
        <button mat-raised-button color="primary" mat-raised-button (click)="mpacsvFile.click()">Choose MPA CSV
          file</button>
        <input hidden type="file" accept=".csv" #csvfile (change)="onCSVChange(mpacsvFile.files)" />
        <div *ngIf="mpacsvFile">
          <p>{{ mpacsvFile.name }}</p>
          <mat-progress-bar *ngIf="csvProgress > 0" mode="determinate" [value]="csvProgress"></mat-progress-bar>
        </div>
        <div *ngIf="!mpacsvFile">
          <p>No CSV file selected</p>
        </div>
      </div>
      <div *ngIf="selectedLevel != undefined && selectedLevel.id == 1">
        <button mat-raised-button color="primary" mat-raised-button (click)="scaffoldxlsFile.click()">Choose Scaffold
          XLS file</button>
        <input hidden type="file" accept=".xls" #csvfile (change)="onCSVChange(scaffoldxlsFile.files)" />
        <div *ngIf="scaffoldxlsFile">
          <p>{{ scaffoldxlsFile.name }}</p>
          <mat-progress-bar *ngIf="csvProgress > 0" mode="determinate" [value]="csvProgress"></mat-progress-bar>
        </div>
        <div *ngIf="!scaffoldxlsFile">
          <p>No XLS file selected</p>
        </div>
      </div>

      <div *ngIf="selectedLevel != undefined && selectedLevel.id == 2">
        <button mat-raised-button color="primary" mat-raised-button (click)="generictsvFile.click()">Choose TSV file
          (generic format)</button>
        <input hidden type="file" accept=".tsv" #csvfile (change)="onCSVChange(generictsvFile.files)" />
        <div *ngIf="generictsvFile">
          <p>{{ generictsvFile.name }}</p>
          <mat-progress-bar *ngIf="csvProgress > 0" mode="determinate" [value]="csvProgress"></mat-progress-bar>
        </div>
        <div *ngIf="!generictsvFile">
          <p>No TSV file selected</p>
        </div>
      </div>

      <div *ngIf="selectedLevel != undefined && selectedLevel.id == 3">
        <button mat-raised-button color="primary" mat-raised-button (click)="pdxmlFile.click()">Choose TSV file (generic
          format)</button>
        <input hidden type="file" accept=".tsv" #csvfile (change)="onCSVChange(pdxmlFile.files)" />
        <div *ngIf="pdxmlFile">
          <p>{{ pdxmlFile.name }}</p>
          <mat-progress-bar *ngIf="csvProgress > 0" mode="determinate" [value]="pdxmlFile"></mat-progress-bar>
        </div>
        <div *ngIf="!pdxmlFile">
          <p>No TSV file selected</p>
        </div>

        <button mat-raised-button color="primary" mat-raised-button (click)="pdtxtFile.click()">Choose TSV file (generic
          format)</button>
        <input hidden type="file" accept=".tsv" #csvfile (change)="onCSVChange(pdtxtFile.files)" />
        <div *ngIf="pdtxtFile">
          <p>{{ pdtxtFile.name }}</p>
          <mat-progress-bar *ngIf="csvProgress > 0" mode="determinate" [value]="pdxmlFile"></mat-progress-bar>
        </div>
        <div *ngIf="!pdtxtFile">
          <p>No TSV file selected</p>
        </div>
      </div>
    </div>

    <br>

    <!-- CONTAMINATION LEVEL -->
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">

      <p>Contamination Label</p>

      <mat-form-field>
        <mat-select [(value)]="selectedContaminationOption">
          <mat-option *ngFor="let contitem of contaminationdata" [value]="contitem">{{contitem.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Accession</mat-label>
        <input matInput [(ngModel)]="contAccession" value="{{ contAccession }}">
      </mat-form-field>
    </div>

    <!-- JOB MANAGEMENT -->
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" [disabled]="!(csvFile && fastaFile)" (click)="requestNewJob()">New
          Prophane Job</button>
      </div>
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" [disabled]="prophaneJobReady" (click)="startButton()">Start
          Job</button>
      </div>
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="getProphaneResults()">View Prophane results</button>
        <div *ngIf='prophaneResults'>
          <button mat-raised-button color="primary" (click)="requestStatus()">Download selected result</button>
          <div *ngIf="fileUrl">
            <a href="{{fileUrl}}" name="downloadLink">Download</a>
          </div>
        </div>
      </div>
    </div>


  </mat-card>
</div>
<br>



<!-- ADVANCED OPTIONS -->
<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
  <button mat-icon-button (click)='toggleAdvancedOptions()'>
    <mat-icon aria-label="test icon">control_point</mat-icon>
  </button>
  <h3>Advanced Options</h3>
</div>


<div *ngIf="showadvanced">

  <!-- LABEL -->
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>Job Label</mat-label>
      <input matInput [(ngModel)]="jobLabel" value="{{ jobLabel }}">
    </mat-form-field>
  </div>


  <br>

  <!-- QUANT METHOD -->
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>Select Quantification Method</mat-label>
      <mat-select (value)="selectedQuant">
        <mat-option *ngFor="let quantitem of quantdata" [value]="quantitem">{{quantitem.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <br>

  <!-- SAMPLE GROUPS -->
  <mat-card>
    <mat-card-title>Sample Groups</mat-card-title>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
      <div *ngFor="let groupitem of sampleGroups">
        <div>
          <mat-form-field>
            <mat-label>Group Name</mat-label>
            <input matInput [(ngModel)]="groupitem.groupname" value="{{ groupitem.groupname }}">
          </mat-form-field>
          <button mat-icon-button (click)='removeSampleGroup(groupitem)'>
            <mat-icon aria-label="test icon">remove</mat-icon>
          </button>
        </div>
        <div *ngFor="let groupelement of groupitem.groupmembers">
          <mat-form-field>
            <mat-label>Group Member</mat-label>
            <input matInput [(ngModel)]="groupelement" value="{{ groupelement }}">
          </mat-form-field>
          <button mat-icon-button (click)='removeGroupMember(groupelement, groupitem)'>
            <mat-icon aria-label="test icon">remove</mat-icon>
          </button>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Group Member</mat-label>
            <input matInput [(ngModel)]="newGroupMember" value="{{ newGroupMember }}">
          </mat-form-field>
          <button mat-icon-button (click)='addNewGroupMember(newGroupMember, groupitem)'>
            <mat-icon aria-label="test icon">add</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Group Name</mat-label>
          <input matInput [(ngModel)]="newGroupItem.groupname" value="{{ newGroupItem.groupname }}">
        </mat-form-field>
        <button mat-icon-button (click)='addSampleGroup(newGroupItem)'>
          <mat-icon aria-label="test icon">add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

  <!-- ANNOTATION TASKS -->
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div class="mdc-text-field mdc-text-field--outlined">
      <input type="text" id="tf-outlined-2" class="mdc-text-field__input">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="tf-outlined" class="mdc-floating-label">New Annotation Task</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <button mat-icon-button (click)='addAnnotationTask()'>
      <mat-icon aria-label="test icon">add</mat-icon>
    </button>
    <button mat-icon-button (click)='removeAnnotationTask()'>
      <mat-icon aria-label="test icon">remove</mat-icon>
    </button>
  </div>

  <i class="mdc-select__dropdown-icon" name="typeselector"></i>
  <select class="mdc-select__native-control" [(ngModel)]="selectedScope">>
    <option value="" disabled selected></option>
    <option *ngFor="let scopeitem of scopetdata" [ngValue]="scopeitem">{{scopeitem.name}}</option>
  </select>
  <label class="mdc-floating-label">Select Scope</label>
  <div class="mdc-line-ripple"></div>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
  </div>

  <!-- ADVANCED OPTIONS -->
</div>
<p>{{jobLabel}}</p>
<p>{{contAccession}}</p>
<p>{{selectedContaminationOption.name}}</p>

<div *ngIf="selectedLevel != undefined && selectedLevel.id == 0">
  <p>0 MPA</p>
</div>
<div *ngIf="selectedLevel != undefined && selectedLevel.id == 1">
  <p>1 Scaffold</p>
</div>
<div *ngIf="selectedLevel != undefined && selectedLevel.id == 2">
  <p>2 Generic</p>
</div>
<div *ngIf="selectedLevel != undefined && selectedLevel.id == 3">
  <p>3 PD</p>
</div>

<!--<p *ngIf="currentProphaneParameters && currentProphaneParameters.prophaneJobUUID">Current job ID: {{ currentProphaneParameters.prophaneJobUUID }}</p>-->