.icon {
    background-color: #106cc8;
    color:white;
    position: relative;
    top: 7px;
    left: 5px;
    margin-right: 10px;
}

.icon2 {
    background-color: white;
    color:#9E9E9E;
    position: relative;
    top: 7px;
    left: 5px;
    margin-right: 10px;
}