<div class="d-flex justify-content-between">
  <div class="jobCards" style="width: 100%; flex-basis: auto; flex-shrink: 1">
    <div class="card min-w-600">
      <div class="card-header">
        <h5>Manage Experiment</h5>
      </div>
      <div class="card-body">
        <mat-form-field>
          <input matInput type="text" placeholder="folder name" [(ngModel)]="name">
          <button mat-button matSuffix mat-icon-button aria-label="Accept" (click)="onAccept()">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button matButton (click)='onAddFolder()'>Add folder!</button>
        <button matButton (click)='onAddExperiment()'>Add experiment!</button>
        <button matButton (click)='onAddProteinDatabase()'>Add Protein Database!</button>
        <button matButton (click)='onRemoveFolder()'>Remove this folder!</button>
      </div>
    </div>
  </div>
</div>
