<div fxFlex class="bg-white">

  <div *ngIf="this.prophaneJobState.jobUnavailable" class="align-content-center mb-2 alert-danger">
    {{this.prophaneJobState.jobUnavailableMessage}}
  </div>

  <div class="d-flex justify-content-between">
    <app-job-stepper
      [expertView]="prophaneJobState.expertView"
      [jobLabelData]="stepperAndCardLabels"
      [resetStepper]="resetStepper.asObservable()"
      (currentStepLabel)="setCurrentStep($event)">
    </app-job-stepper>

    <div class="jobCards">
      <div class="card w-50 ml-job-form min-w-600">
        <div class="card-header">
          <h5>
            {{currentCardHeader}}
            <span class="card-title-button-wrapper" *ngIf="authGuard.allowExpert()">
              <mat-slide-toggle color (change)="onViewChange()">expert</mat-slide-toggle>
            </span>
          </h5>
        </div>

        <div class="card-body">
          <app-job-input *ngIf="currentCardHeader === 'Input'"></app-job-input>
          <app-job-sample-groups *ngIf="currentCardHeader === 'Sample Grouping'"></app-job-sample-groups>
          <app-job-quantification *ngIf="currentCardHeader === 'Quantification Method'"></app-job-quantification>
          <app-job-taxonomy *ngIf="currentCardHeader === 'Taxonomic Annotation'"></app-job-taxonomy>
          <app-job-function *ngIf="currentCardHeader === 'Functional Annotation'"></app-job-function>
          <app-job-submit *ngIf="currentCardHeader === 'Summary'"></app-job-submit>
        </div>

      </div>
    </div>
  </div>

</div>
