.mat-expansion-panel {
    background-color: #e8eaf6;
    text-align: left;
    }

.mat-expansion-panel-header.mat-expanded {
        font-size: 20;
        font-weight: bold;
        background-color: #7986cb;
        }

.mat-expansion-panel-header:hover  {
    background-color: #7986cb !important;
    }
 

.img-fluid{
    max-width: 20%;
    height: auto;
}

.tutorial{
    background-color: #d5c0f4
}

.instruction{
    background-color: whitesmoke
}

.nb_list{
    list-style-type: none;
    margin-left: 20px;
}

.bullet_list{
    list-style-type: disc;
    margin-left: 20px;
}

.bold{
    font-weight: bold;
}