<div class="flex flex-col h-full justify-between">
  <!-- content -->
  <main class="max-w-3xl mx-auto px-4 mb-auto">
    <!-- link to workflow -->
    <div class="text-center mt-20 mb-20">
      <!-- <shared-login-buttons></shared-login-buttons> -->
      <button mat-flat-button color="primary" routerLink="/workflow">
        Start Workflow
      </button>
    </div>

    <!-- link to tutorial -->

    <!-- about -->
    <section>
      <h2 class="text-center">About Omics-Feature-Selector</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum placeat
        similique consequatur veritatis corrupti at molestiae quia, doloremque
        harum explicabo alias dolore rem consequuntur ut nemo eum accusamus
        dolorem sapiente?
      </p>
    </section>

    <!-- link to FAQ -->
    <section>
      <h2 class="text-center">FAQ</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum placeat
        similique consequatur veritatis corrupti at molestiae quia, doloremque
        harum explicabo alias dolore rem consequuntur ut nemo eum accusamus
        dolorem sapiente?
      </p>
    </section>

    <!-- link to repo and publication -->
    <section>
      <h2 class="text-center">Citing</h2>
      <p>Our fancy publication can be read here [LINK]</p>
    </section>

    <section>
      <h2 class="text-center">Source Code</h2>
      <p>Our fancy GitHub repo can be found here [LINK]</p>
    </section>

    <!-- funding -->
    <section>
      <h2 class="text-center">Affiliations</h2>
      <p>We are funded by</p>
    </section>
  </main>

  <!-- footer -->
  <footer class="bg-gray-700 text-white">&copy;2023. ISAS e.V. Dortmund</footer>
</div>
