<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="mat-headline-4">Choose Experiment Type</h1>

  <mat-radio-group formControlName="experiment-type">
    <mat-radio-button color="primary" value="metaprotemic">Metaproteomic</mat-radio-button>
    <mat-radio-button color="primary" value="proteomic">Proteomics</mat-radio-button>
  </mat-radio-group>

  <ng-container *ngIf="form.controls.type.value === 'metaproemic'">
    <h3 class="mat-headline-4">Choose Experiment Type</h3>
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
          @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>


  </ng-container>

  <ng-container *ngIf="form.controls.type.value === 'b'">
    <mat-form-field>
      <mat-label>Required when B</mat-label>
      <input matInput formControlName="helloB" type="number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Required and minLength 4 when B</mat-label>
      <input matInput formControlName="helloAnotherB" type="text" />
    </mat-form-field>
  </ng-container>
  <button type="submit">Submit</button>
</form>
